{% load i18n %}
<div class="rounded border-neutral-content border box-content">
    {% if form.errors %}
        <div class="bg-secondary-400 text-black p-4 mb-6">
            <h3 class="font-bold text-center">{% translate 'Error' %}</h3>
            <ul>
                {% for field in form %}
                    {% for error in field.errors %}
                        <li class="my-2 ">
                            {{ field.label }}:
                            {{ error|escape }}
                        </li>
                    {% endfor %}
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    {% for hidden_field in form.hidden_fields %}
        {{ hidden_field.errors }}
        {{ hidden_field }}
    {% endfor %}
    {% if form.platform %}
        <div class="border-b border-neutral-content p-2 flex flex-row justify-between">
            <div class="flex flex-col gap-2">
                <label for="{{ form.platform.id_for_label }}" class="label-text">{{ form.platform.label }}</label>
                {{ form.platform }}
            </div>
        </div>
    {% endif %}
    <div class="p-2 flex-row justify-between">
        <div class="flex flex-col gap-2">
            {% if form.profile_name %}
                <label for="{{ form.profile_name.id_for_label }}" class="label-text">{{ form.profile_name.label }}</label>
                {{ form.profile_name }}
            {% elif form.telephone %}
                <div class="flex flex-col md:flex-row gap-2">
                    <div class="md:w-1/2 space-y-2 flex flex-col">
                        <label for="{{ form.telephone.id_for_label }}" class="label-text">{{ form.telephone.label }}</label>
                        {{ form.telephone }}
                    </div>
                    <div class="md:w-1/2 space-y-2 flex flex-col">
                        <label for="{{ form.service.id_for_label }}" class="label-text">{{ form.service.label }}</label>
                        {{ form.service }}
                    </div>
                </div>
            {% elif form.website %}
                <label for="{{ form.website.id_for_label }}" class="label-text">{{ form.website.label }}</label>
                {{ form.website }}
            {% elif form.email %}
                <label for="{{ form.website.id_for_label }}" class="label-text">{{ form.email.label }}</label>
                {{ form.email }}
            {% endif %}
        </div>
    </div>
    {% if formset.can_delete and not extra %}
        <div class="rounded-b p-2 flex flex-row items-center gap-2 bg-red-200">
            <svg xmlns="http://www.w3.org/2000/svg"
                 class="h-5 w-5"
                 viewbox="0 0 20 20"
                 fill="currentColor">
                <path fill-rule="evenodd" d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z" clip-rule="evenodd" />
            </svg>
            {{ form.DELETE }}
            <label for="{{ form.DELETE.id_for_label }}">{{ form.DELETE.label }}</label>
        </div>
    {% endif %}
</div>
