{% load i18n customtag %}
<nav class="relative z-0 inline-flex rounded-md shadow-sm -space-x-px mt-4"
     aria-label="Pagination"
     hx-select="#organizations_list"
     hx-target="#organizations_list">
    {% if results.has_previous %}
        <a href="?{% replace_url_value request page=results.previous_page_number %}"
           class="relative inline-flex items-center px-2 py-2 border border-primary-800 bg-base-100 text-sm font-medium text-base-content/80 hover:bg-primary-800 hover:text-white rounded-l">
            <span class="sr-only">Previous</span>
            {% include "icons/arrow.html" with direction="backward" style="h-5 w-5" function="" %}
        </a>
    {% endif %}
    {% for i in results.paginator.page_range_elided %}
        {% if results.number == i %}
            <a href="?{% replace_url_value request page=i %}"
               aria-current="page"
               class="z-10 bg-primary-800 hover:bg-primary-800 border-primary-800 text-white hover:text-white relative inline-flex items-center px-4 py-2 border text-sm font-medium"> {{ i }} </a>
        {% else %}
            {% if i == results.paginator.ELLIPSIS %}
                <span class="bg-base-100 border-primary-800 text-base-content/80 relative inline-flex items-center px-4 py-2 border text-sm font-medium">{{ results.paginator.ELLIPSIS }}</span>
            {% else %}
                <span>
                    <a href="?{% replace_url_value request page=i %}"
                       class="bg-base-100 border-primary-800 text-base-content/80 relative inline-flex items-center px-4 py-2 border text-sm font-medium hover:bg-primary-800 hover:text-white"> {{ i }} </a>
                </span>
            {% endif %}
        {% endif %}
    {% endfor %}
    {% if results.has_next %}
        <a href="?{% replace_url_value request page=results.next_page_number %}"
           class="relative inline-flex items-center px-2 py-2 border border-primary-800 bg-base-100 text-sm font-medium text-base-content/80 hover:bg-primary-800 hover:text-white rounded-r">
            <span class="sr-only">Next</span>
            {% include "icons/arrow.html" with direction="forward" style="h-5 w-5" function="" %}
        </a>
    {% endif %}
</nav>
