{% load i18n %}
<div id="service_container"
     class="rounded border-neutral-content/50 border box-content"
     data-instance-id="{{ form.instance.id }}"
     data-extra="{{ extra }}"
     x-data="{ open: checkOpen($el.dataset.extra, $el.dataset.instanceId) }"
     x-bind:aria-expanded="open ? 'true' : 'false'">
    <a :id="$id('service-form')"
       class="block invisible relative -top-[64px]"></a>
    {% if form.errors %}
        <div class="bg-secondary-400 text-black p-4 mb-6">
            <h3 class="font-bold text-center">{% translate "Error" %}</h3>
            <ul>
                {% for field in form %}
                    {% for error in field.errors %}<li class="my-2">{{ field.label }}: {{ error|escape }}</li>{% endfor %}
                {% endfor %}
            </ul>
            <ul>
                {% for error in form.non_field_errors %}<li class="my-2">{{ error|escape }}</li>{% endfor %}
            </ul>
        </div>
    {% endif %}
    {% for hidden_field in form.hidden_fields %}
        {{ hidden_field.errors }}
        {{ hidden_field }}
    {% endfor %}
    <div class="flex flex-col gap-2"
         :class="open && 'border-b border-neutral-content/50'"
         @click="open = ! open">
        <div class="flex flex-row cursor-pointer p-2">
            <h3 id="service_heading">
                {% if form.instance.service_category.name != "" %}
                    {{ form.instance.service_category.name }} |
                    {% if form.instance.get_list_of_days|length == 7 %}
                        {% translate "Everyday" %}
                    {% else %}
                        {% for day in form.instance.get_list_of_days %}
                            {{ day }}
                            {% if not forloop.last %},{% endif %}
                        {% endfor %}
                    {% endif %}
                {% else %}
                    {% translate "New service" %}
                {% endif %}
            </h3>
            <button type="button"
                    class="ml-auto px-1 focus:outline-none focus-visible:outline-dashed focus-visible:outline-2 focus-visible:outline-primary-800 text-left">
                {% include "icons/arrow.html" with direction="up" style="h-5 w-5" function="x-show='open'" %}
                {% include "icons/arrow.html" with direction="down" style="h-5 w-5" function="x-show='!open'" %}
            </button>
        </div>
    </div>
    <div x-show="open">
        {# Service Category #}
        <div class="p-2 flex flex-col gap-2">
            <div class="flex flex-col gap-2">
                <label for="{{ form.service_category.id_for_label }}">{% translate "Service category" %} *</label>
                {% if form.service_category.help_text %}<p class="helptext">{{ form.service_category.help_text|safe }}</p>{% endif %}
                {{ form.service_category }}
            </div>
        </div>
        {# Description #}
        <div class="p-2 flex flex-col gap-2">
            <div class="flex flex-col gap-2">
                <label for="{{ form.description.id_for_label }}" class="block font-medium">{% translate "Description" %}</label>
                {% if form.description.help_text %}<p class="helptext">{{ form.description.help_text|safe }}</p>{% endif %}
                {{ form.description }}
            </div>
        </div>
        {# Recurring days #}
        <div class="p-2">
            <fieldset class="flex flex-col gap-2">
                <div class="flex items-center">
                    <svg xmlns="http://www.w3.org/2000/svg"
                         class="h-5 w-5 mr-1"
                         viewBox="0 0 20 20"
                         fill="currentColor">
                        <path fill-rule="evenodd" d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z" clip-rule="evenodd" />
                    </svg>
                    <legend>{% translate "Recurring days" %}</legend>
                </div>
                <p class="helptext">
                    {% translate "On which days of the week does the offer take place regularly? At least once a month on that day of the week. If it is irregular or only on request, do not select anything." %}
                </p>
                <div class="my-2 flex flex-row flex-wrap gap-8">
                    <div class="flex flex-row flex-wrap gap-2">
                        <div class="selection-checkbox">
                            <input id="{{ form.recurring_mondays.id_for_label }}"
                                   name="{{ form.recurring_mondays.html_name }}"
                                   type="checkbox"
                                   aria-hidden="false"
                                   {% if form.recurring_mondays.value %}checked{% endif %}>
                            <label for="{{ form.recurring_mondays.id_for_label }}"
                                   class="p-2 border-2 rounded-lg">{% translate "Mo" %}</label>
                        </div>
                        <div class="selection-checkbox">
                            <input id="{{ form.recurring_tuesdays.id_for_label }}"
                                   name="{{ form.recurring_tuesdays.html_name }}"
                                   type="checkbox"
                                   aria-hidden="false"
                                   {% if form.recurring_tuesdays.value %}checked{% endif %}>
                            <label for="{{ form.recurring_tuesdays.id_for_label }}"
                                   class="p-2 border-2 rounded-lg">{% translate "Tu" %}</label>
                        </div>
                        <div class="selection-checkbox">
                            <input id="{{ form.recurring_wednesdays.id_for_label }}"
                                   name="{{ form.recurring_wednesdays.html_name }}"
                                   type="checkbox"
                                   aria-hidden="false"
                                   {% if form.recurring_wednesdays.value %}checked{% endif %}>
                            <label for="{{ form.recurring_wednesdays.id_for_label }}"
                                   class="p-2 border-2 rounded-lg">{% translate "We" %}</label>
                        </div>
                        <div class="selection-checkbox">
                            <input id="{{ form.recurring_thursdays.id_for_label }}"
                                   name="{{ form.recurring_thursdays.html_name }}"
                                   type="checkbox"
                                   aria-hidden="false"
                                   {% if form.recurring_thursdays.value %}checked{% endif %}>
                            <label for="{{ form.recurring_thursdays.id_for_label }}"
                                   class="p-2 border-2 rounded-lg">{% translate "Th" %}</label>
                        </div>
                        <div class="selection-checkbox">
                            <input id="{{ form.recurring_fridays.id_for_label }}"
                                   name="{{ form.recurring_fridays.html_name }}"
                                   type="checkbox"
                                   aria-hidden="false"
                                   {% if form.recurring_fridays.value %}checked{% endif %}>
                            <label for="{{ form.recurring_fridays.id_for_label }}"
                                   class="p-2 border-2 rounded-lg">{% translate "Fr" %}</label>
                        </div>
                        <div class="selection-checkbox">
                            <input id="{{ form.recurring_saturdays.id_for_label }}"
                                   name="{{ form.recurring_saturdays.html_name }}"
                                   type="checkbox"
                                   aria-hidden="false"
                                   {% if form.recurring_saturdays.value %}checked{% endif %}>
                            <label for="{{ form.recurring_saturdays.id_for_label }}"
                                   class="p-2 border-2 rounded-lg">{% translate "Sa" %}</label>
                        </div>
                        <div class="selection-checkbox">
                            <input id="{{ form.recurring_sundays.id_for_label }}"
                                   name="{{ form.recurring_sundays.html_name }}"
                                   type="checkbox"
                                   aria-hidden="false"
                                   {% if form.recurring_sundays.value %}checked{% endif %}>
                            <label for="{{ form.recurring_sundays.id_for_label }}"
                                   class="p-2 border-2 rounded-lg">{% translate "Su" %}</label>
                        </div>
                    </div>
                    <div>
                        <input id="{{ form.recurring_weekly.id_for_label }}"
                               name="{{ form.recurring_weekly.html_name }}"
                               type="checkbox"
                               aria-hidden="false"
                               {% if form.recurring_weekly.value %}checked{% endif %}>
                        <label for="{{ form.recurring_weekly.id_for_label }}">{% translate "Every week" %}</label>
                    </div>
                </div>
            </fieldset>
        </div>
        {# Languages #}
        <div class="p-2 flex flex-col gap-2 items-start">
            <div class="flex items-center">
                <svg xmlns="http://www.w3.org/2000/svg"
                     class="h-5 w-5 mr-1"
                     fill="none"
                     viewBox="0 0 24 24"
                     stroke="currentColor"
                     stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M3 5h12M9 3v2m1.048 9.5A18.022 18.022 0 016.412 9m6.088 9h7M11 21l5-10 5 10M12.751 5C11.783 10.77 8.07 15.61 3 18.129" />
                </svg>
                <label for="{{ form.languages.id_for_label }}">{% translate "Languages" %}</label>
            </div>
            {% if form.languages.help_text %}<p class="helptext">{{ form.languages.help_text|safe }}</p>{% endif %}
            <div class="columns-1 md:columns-2 lg:columns-3 w-full">{{ form.languages }}</div>
        </div>
        {# Accessibility #}
        <div class="p-2 flex flex-col gap-2 items-start">
            <div class="flex items-center">
                <svg xmlns="http://www.w3.org/2000/svg"
                     class="h-5 w-5 mr-1"
                     viewBox="0 0 20 20"
                     fill="currentColor">
                    <path d="M13 6a3 3 0 11-6 0 3 3 0 016 0zM18 8a2 2 0 11-4 0 2 2 0 014 0zM14 15a4 4 0 00-8 0v3h8v-3zM6 8a2 2 0 11-4 0 2 2 0 014 0zM16 18v-3a5.972 5.972 0 00-.75-2.906A3.005 3.005 0 0119 15v3h-3zM4.75 12.094A5.973 5.973 0 004 15v3H1v-3a3 3 0 013.75-2.906z" />
                </svg>
                <label for="{{ form.features.id_for_label }}">{% translate "Accessibility" %}</label>
            </div>
            {% if form.features.help_text %}<p class="helptext">{{ form.features.help_text|safe }}</p>{% endif %}
            <div class="columns-1 md:columns-2 lg:columns-3 w-full">{{ form.features }}</div>
        </div>
        {# Classifications #}
        <div class="p-2 flex flex-col items-start gap-2">
            <div class="flex items-center">
                <svg xmlns="http://www.w3.org/2000/svg"
                     class="h-5 w-5 mr-1"
                     viewBox="0 0 20 20"
                     fill="currentColor">
                    <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
                </svg>
                <label for="{{ form.classifications.id_for_label }}">{% translate "Classifications" %}</label>
            </div>
            {% if form.classifications.help_text %}<p class="helptext">{{ form.classifications.help_text|safe }}</p>{% endif %}
            <div class="columns-1 md:columns-2 lg:columns-3 w-full">{{ form.classifications }}</div>
        </div>
        {# Physicallocations #}
        <div class="p-2 flex flex-col items-start gap-2"
             x-id="['search-results', 'location_modal', 'search', 'physicallocations', 'selection']">
            <div class="flex flex-row w-full">
                <svg xmlns="http://www.w3.org/2000/svg"
                     class="h-5 w-5 mr-1"
                     viewBox="0 0 20 20"
                     fill="currentColor">
                    <path fill-rule="evenodd" d="M5.05 4.05a7 7 0 119.9 9.9L10 18.9l-4.95-4.95a7 7 0 010-9.9zM10 11a2 2 0 100-4 2 2 0 000 4z" clip-rule="evenodd" />
                </svg>
                <label for="{{ form.areas_of_relevance.id_for_label }}">{% translate "Locations" %}</label>
                <button type="button"
                    class="ml-auto btn btn-xs no-animation font-normal"
                    x-show="locations[decrementString($id('search'))]?.length"
                    {# To do a deep copy, we need to JSON.parse & JSON.stringify the alpine proxy obj #}
                    {# decrementString takes a string, reads the last char as number and decrements it #}
                    @click="locations[$id('search')] = JSON.parse(JSON.stringify(locations[decrementString($id('search'))]))">
                    {% translate "Copy from previous service" %}
                </button>
            </div>
            <div class="w-full" :id="$id('search')">
                <label class="form-control">
                    <div class="label">
                        <span class="label-text">{% translate 'Search' %}</span>
                    </div>
                    <input class="form-control"
                           type="search"
                           name="search"
                           placeholder="{% translate 'Search for an address or location…' %}"
                           onkeydown="return event.key != 'Enter';"
                           hx-get="/locations/search/"
                           :hx-trigger="'input changed delay:500ms, load, search, locationupdate from:#'+$id('search')+', locationdelete from:#'+$id('search')+', locationcreate from:#'+$id('search')"
                           :hx-target="'#'+$id('search-results')"
                           :hx-indicator="'#'+$id('search-results')"
                           x-init="htmx.process($el)">
                </label>
                <dialog x-ref="location_modal_container"
                        class="modal modal-bottom sm:modal-middle">
                    <div :id="$id('location_modal')" class="modal-box sm:max-w-full sm:w-1/2"></div>
                </dialog>
                {% comment %}
                locations is an dictionary of lists, which contains the selected locations for each service.
                Each list is indexed by the corresponding $id('search') from the corresponding service form.
                {% endcomment %}
                <div x-init="locations[$id('search')]=[]; $nextTick( () => { for (pl of document.getElementById($id('physicallocations')).children) { locations[$id('search')].push( { 'display_name' : pl.dataset.display_name, 'db_id' : pl.dataset.db_id } )                            } })">
                    <div :id="$id('search-results')"
                         class="mt-2 rounded-md shadow-inner bg-base-300 text-base-content"></div>
                    <div :id="$id('selection')"
                         class="flex flex-row flex-wrap justify-center gap-2 w-full">
                        <div :id="$id('physicallocations')" class="hidden">
                            {% for physicallocation in form.instance.physicallocations.all %}
                                <div data-display_name="{{ physicallocation }}"
                                     data-db_id="{{ physicallocation.id }}"></div>
                            {% endfor %}
                        </div>
                        <div x-show="!locations[$id('search')].length"
                             class="italic text-gray-700">{% translate 'No location selected' %}</div>
                        <template x-for="item in locations[$id('search')]">
                            <div class="card card-compact md:w-1/5 w-2/5 shadow-xl">
                                <div class="card-body items-center text-center">
                                    <p x-text="item.display_name"></p>
                                    <div class="card-actions">
                                        <button name="remove"
                                                class="btn btn-sm btn-secondary"
                                                @click.prevent="locations[$id('search')].splice(locations[$id('search')].indexOf(item),1)">
                                            {% include "icons/x-mark.html" %}
                                        </button>
                                    </div>
                                </div>
                                <input type="hidden"
                                       name="{{ form.physicallocations.html_name }}"
                                       :value="item.db_id">
                            </div>
                        </template>
                    </div>
                </div>
            </div>
        </div>
        {% if formset.can_delete and not extra %}
            <div class="rounded-b p-2 flex flex-row items-center gap-2 bg-red-200">
                <svg xmlns="http://www.w3.org/2000/svg"
                     class="h-5 w-5 mr-1"
                     viewBox="0 0 20 20"
                     fill="currentColor">
                    <path fill-rule="evenodd" d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z" clip-rule="evenodd" />
                </svg>
                {{ form.DELETE }}
                <label for="{{ form.DELETE.id_for_label }}">{{ form.DELETE.label }}</label>
            </div>
        {% endif %}
    </div>
</div>
