{# This mail is sent when no account was created on orga submission or no email-contact was available #}
{# djlint:off #}{% with host_name=host_name site_name=site.settings.title orga_name=organization.name  orga_slug=organization.slug %}Die Orga {{orga_name}} wurde eingereicht.
<p>Du kannst sie über diesen link einsehen:</p>
<a href="https://{{host_name}}/{{organization.slug}}/">https://{{host_name}}/{{organization.slug}}/</a>

{% if organization.contacts.all %}
<br>
<p>Folgende Kontaktinformationen wurden für die Organisation gefunden:</p>
<ul>
{% for contact in organization.contacts.all %}
    {% if contact.classname == "EmailContact" %}
        <li>Email: {{ contact.email }}</li>{% elif contact.classname == "PhoneContact" %}
        <li>Tel: {{ contact.telephone }}</li>{% elif contact.classname == "WebsiteContact" %}
        <li>Website: {{ contact.website }}</li>{% elif contact.classname == "PlatformContact" %}
        <li>Website: {{ contact.get_url }}</li>
    {% endif %}{% endfor %}
</ul>
{% endif %}
{% if organization_email_contacts %}
<p>Wenn der Eintrag ok ist, kannst du über folgenden Link eine vorformulierte Mail an die Orga erstellen:</p>
<a href="mailto:{{ organization_email_contacts.0 }}?subject={{ mail_title_orga }}&body={{ encoded_orga_msg }}">Create Mail</a>
{% else %}
<p>Leider konnten keine Email-Kontaktinformationen für die Organisation gefunden werden. Vielleicht kannst du ihnen den folgenden Text anderweitig zukommen lassen?</p>
<div style="white-space: pre-line;">
{% include "organizations/partials/orga_creation_email_orga.html" %}
</div>
{% endif %}
{% endwith %}
{# djlint:on #}
