{% load i18n %}
<li {% if collapsed %}x-show.transition.in="show" x-cloak{% endif %}
    class="px-6 py-2 border-t border-primary-800 hover:text-primary-800">
    <a href="{% url "organizations:show" organization.slug %}#service-{{ service.id }}">
        <div class="flex flex-row">
            <div class="sm:w-1/2">{{ service.service_category }}</div>
            <div class="hidden lg:flex flex-row lg:w-1/2">
                <div class="px-2">
                    <div class="sr-only">{% translate "Areas of relevance" %}</div>
                    <svg xmlns="http://www.w3.org/2000/svg"
                         class="h-5 w-5"
                         viewBox="0 0 20 20"
                         fill="currentColor">
                        <path fill-rule="evenodd" d="M5.05 4.05a7 7 0 119.9 9.9L10 18.9l-4.95-4.95a7 7 0 010-9.9zM10 11a2 2 0 100-4 2 2 0 000 4z" clip-rule="evenodd" />
                    </svg>
                </div>
                <div x-data="{ visible: false }">
                    {% if service.areas_of_relevance.all %}
                        {% if service.areas_of_relevance.all|length == filter.form.areas_of_relevance|length %}
                            {% translate "City-wide" %}
                        {% else %}
                            {% for area in service.areas_of_relevance.all %}
                                {% if forloop.counter0 < 5 %}
                                    <span class="block">
                                        {# djlint:off #}
                                    {{ area.name }}{% if not forloop.last %},{% endif %}
                                        {# djlint:on #}
                                    </span>
                                {% else %}
                                    {% if forloop.last %}
                                        <span class="block">
                                            {% blocktranslate with amount=service.areas_of_relevance.all|length|add:-5 %}..and {{ amount }} more{% endblocktranslate %}
                                        </span>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% else %}
                        {% translate "No (public) locations" %}
                    {% endif %}
                </div>
            </div>
        </div>
    </a>
</li>
