{% load i18n email_obfuscation %}
<div class="flex flex-row items-center gap-4 break-words">
    {% if contact.classname == "EmailContact" %}
        <svg xmlns="http://www.w3.org/2000/svg"
             class="h-5 w-5 shrink-0"
             viewBox="0 0 20 20"
             fill="currentColor">
            <path fill-rule="evenodd" d="M14.243 5.757a6 6 0 10-.986 9.284 1 1 0 111.087 1.678A8 8 0 1118 10a3 3 0 01-4.8 2.401A4 4 0 1114 10a1 1 0 102 0c0-1.537-.586-3.07-1.757-4.243zM12 10a2 2 0 10-4 0 2 2 0 004 0z" clip-rule="evenodd" alt="{% translate 'Email' %}" />
        </svg>
        <a class="min-w-0"
           data-email="{{ contact.email|email_obfuscation }}"
           x-data="{ inner: $el.dataset.email.replace('[at]', '@').replaceAll('[dot]', '.').replaceAll('[dash]', '-') }"
           x-text="inner"
           x-bind:href="'mailto:'+inner"
           href="mailto:{{ contact.email|email_obfuscation }}">{{ contact.email|email_obfuscation }}</a>
    {% elif contact.classname == "PhoneContact" %}
        {% if contact.service == 'Signal' %}
            <svg xmlns="http://www.w3.org/2000/svg"
                 class="h-5 w-5 shrink-0"
                 viewBox="0 0 50 50"
                 fill="currentColor">
                <path d="M 25 2 L 24.78125 2.0019531 L 24.796875 4.0019531 L 25 4 C 26.529 4 28.054203 4.1651875 29.533203 4.4921875 L 29.966797 2.5390625 C 28.345797 2.1810625 26.674 2 25 2 z M 22.695312 2.1132812 C 20.955313 2.2872813 19.241656 2.6606562 17.597656 3.2226562 L 18.242188 5.1152344 C 19.741187 4.6022344 21.307531 4.2625156 22.894531 4.1035156 L 22.695312 2.1132812 z M 31.984375 3.0859375 L 31.376953 4.9902344 C 32.893953 5.4762344 34.349078 6.1370312 35.705078 6.9570312 L 36.740234 5.2460938 C 35.250234 4.3450938 33.649375 3.6189375 31.984375 3.0859375 z M 15.648438 3.9921875 C 14.051438 4.7111875 12.545875 5.6147344 11.171875 6.6777344 L 12.394531 8.2597656 C 13.645531 7.2917656 15.015703 6.4694531 16.470703 5.8144531 L 15.648438 3.9921875 z M 38.476562 6.4121094 L 37.285156 8.0195312 C 38.566156 8.9705312 39.727422 10.068203 40.732422 11.283203 L 42.273438 10.009766 C 41.165437 8.6707656 39.887563 7.4591094 38.476562 6.4121094 z M 25 7 C 15.626 7 8 14.178 8 23 C 8 28.129 10.606 32.9265 15 35.9375 L 15 41 C 15 41.357 15.19 41.686234 15.5 41.865234 C 15.654 41.954234 15.827 42 16 42 C 16.172 42 16.344047 41.955234 16.498047 41.865234 L 21.929688 38.738281 C 22.939688 38.912281 23.972 39 25 39 C 34.374 39 42 31.822 42 23 C 42 14.178 34.374 7 25 7 z M 9.578125 8.0371094 C 8.295125 9.2421094 7.1675156 10.594641 6.2285156 12.056641 L 7.9121094 13.136719 C 8.7631094 11.811719 9.7842656 10.586141 10.947266 9.4941406 L 9.578125 8.0371094 z M 43.529297 11.689453 L 41.869141 12.804688 C 42.757141 14.125688 43.469281 15.54825 43.988281 17.03125 L 45.878906 16.371094 C 45.302906 14.727094 44.511297 13.152453 43.529297 11.689453 z M 5.1855469 13.878906 C 4.3875469 15.450906 3.8005 17.113266 3.4375 18.822266 L 5.3945312 19.238281 C 5.7205312 17.698281 6.24975 16.200203 6.96875 14.783203 L 5.1855469 13.878906 z M 46.466797 18.392578 L 44.519531 18.849609 C 44.838531 20.202609 45 21.6 45 23 C 45 23.184 44.996234 23.366828 44.990234 23.548828 L 46.990234 23.609375 C 46.996234 23.407375 47 23.204 47 23 C 47 21.445 46.819797 19.895578 46.466797 18.392578 z M 3.109375 20.900391 C 3.037375 21.595391 3 22.301 3 23 C 3 24.052 3.0820938 25.109578 3.2460938 26.142578 L 5.2226562 25.830078 C 5.0756563 24.899078 5 23.948 5 23 C 5 22.37 5.0336563 21.733422 5.0976562 21.107422 L 3.109375 20.900391 z M 44.835938 25.4375 C 44.624937 27.0005 44.207703 28.533141 43.595703 29.994141 L 45.441406 30.767578 C 46.120406 29.144578 46.585359 27.441078 46.818359 25.705078 L 44.835938 25.4375 z M 5.6152344 27.683594 L 3.6835938 28.199219 C 4.1335938 29.887219 4.8047344 31.519828 5.6777344 33.048828 L 7.4140625 32.056641 C 6.6270625 30.676641 6.0222344 29.205594 5.6152344 27.683594 z M 42.775391 31.703125 C 42.023391 33.083125 41.092859 34.377828 40.005859 35.548828 L 41.472656 36.908203 C 42.671656 35.615203 43.69925 34.185156 44.53125 32.660156 L 42.775391 31.703125 z M 8.4375 33.65625 L 6.8105469 34.818359 C 7.7425469 36.125359 8.830875 37.330297 10.046875 38.404297 L 10.457031 42.427734 L 12.449219 42.224609 L 11.996094 37.806641 C 11.969094 37.549641 11.844437 37.313484 11.648438 37.146484 C 10.433437 36.113484 9.3535 34.93925 8.4375 33.65625 z M 38.646484 36.876953 C 37.466484 37.924953 36.153094 38.837891 34.746094 39.587891 L 35.6875 41.351562 C 37.2325 40.527563 38.675609 39.524094 39.974609 38.371094 L 38.646484 36.876953 z M 33.023438 40.402344 C 31.562437 41.012344 30.023172 41.454797 28.451172 41.716797 L 28.779297 43.689453 C 30.504297 43.402453 32.191922 42.917047 33.794922 42.248047 L 33.023438 40.402344 z M 22.847656 41.890625 C 22.680656 41.874625 22.499844 41.900703 22.339844 41.970703 L 21.326172 42.419922 L 22.138672 44.248047 L 22.910156 43.904297 C 24.179156 44.019297 25.464078 44.0285 26.705078 43.9375 L 26.558594 41.943359 C 25.341594 42.031359 24.083656 42.015625 22.847656 41.890625 z M 19.5 43.232422 L 14.927734 45.259766 L 15.738281 47.087891 L 20.310547 45.060547 L 19.5 43.232422 z M 12.652344 44.212891 L 10.662109 44.417969 L 11.005859 47.753906 C 11.038859 48.072906 11.222047 48.354625 11.498047 48.515625 C 11.653047 48.605625 11.826 48.650391 12 48.650391 C 12.138 48.650391 12.275297 48.623453 12.404297 48.564453 L 13.910156 47.896484 L 13.099609 46.068359 L 12.853516 46.177734 L 12.652344 44.212891 z">
                </path>
            </svg>
        {% elif contact.service == 'Telegram' %}
            <svg xmlns="http://www.w3.org/2000/svg"
                 class="h-5 w-5 shrink-0"
                 viewBox="0 0 50 50"
                 fill="currentColor">
                <path d="M25,2c12.703,0,23,10.297,23,23S37.703,48,25,48S2,37.703,2,25S12.297,2,25,2z M32.934,34.375	c0.423-1.298,2.405-14.234,2.65-16.783c0.074-0.772-0.17-1.285-0.648-1.514c-0.578-0.278-1.434-0.139-2.427,0.219	c-1.362,0.491-18.774,7.884-19.78,8.312c-0.954,0.405-1.856,0.847-1.856,1.487c0,0.45,0.267,0.703,1.003,0.966	c0.766,0.273,2.695,0.858,3.834,1.172c1.097,0.303,2.346,0.04,3.046-0.395c0.742-0.461,9.305-6.191,9.92-6.693	c0.614-0.502,1.104,0.141,0.602,0.644c-0.502,0.502-6.38,6.207-7.155,6.997c-0.941,0.959-0.273,1.953,0.358,2.351	c0.721,0.454,5.906,3.932,6.687,4.49c0.781,0.558,1.573,0.811,2.298,0.811C32.191,36.439,32.573,35.484,32.934,34.375z">
                </path>
            </svg>
        {% elif contact.service == 'WhatsApp' %}
            <svg xmlns="http://www.w3.org/2000/svg"
                 class="h-5 w-5 shrink-0"
                 viewBox="0 0 50 50"
                 fill="currentColor">
                <path d="M25,2C12.318,2,2,12.318,2,25c0,3.96,1.023,7.854,2.963,11.29L2.037,46.73c-0.096,0.343-0.003,0.711,0.245,0.966 C2.473,47.893,2.733,48,3,48c0.08,0,0.161-0.01,0.24-0.029l10.896-2.699C17.463,47.058,21.21,48,25,48c12.682,0,23-10.318,23-23 S37.682,2,25,2z M36.57,33.116c-0.492,1.362-2.852,2.605-3.986,2.772c-1.018,0.149-2.306,0.213-3.72-0.231 c-0.857-0.27-1.957-0.628-3.366-1.229c-5.923-2.526-9.791-8.415-10.087-8.804C15.116,25.235,13,22.463,13,19.594 s1.525-4.28,2.067-4.864c0.542-0.584,1.181-0.73,1.575-0.73s0.787,0.005,1.132,0.021c0.363,0.018,0.85-0.137,1.329,1.001 c0.492,1.168,1.673,4.037,1.819,4.33c0.148,0.292,0.246,0.633,0.05,1.022c-0.196,0.389-0.294,0.632-0.59,0.973 s-0.62,0.76-0.886,1.022c-0.296,0.291-0.603,0.606-0.259,1.19c0.344,0.584,1.529,2.493,3.285,4.039 c2.255,1.986,4.158,2.602,4.748,2.894c0.59,0.292,0.935,0.243,1.279-0.146c0.344-0.39,1.476-1.703,1.869-2.286 s0.787-0.487,1.329-0.292c0.542,0.194,3.445,1.604,4.035,1.896c0.59,0.292,0.984,0.438,1.132,0.681 C37.062,30.587,37.062,31.755,36.57,33.116z">
                </path>
            </svg>
        {% else %}
            <svg xmlns="http://www.w3.org/2000/svg"
                 class="h-5 w-5 shrink-0"
                 viewBox="0 0 20 20"
                 fill="currentColor">
                <path d="M2 3a1 1 0 011-1h2.153a1 1 0 01.986.836l.74 4.435a1 1 0 01-.54 1.06l-1.548.773a11.037 11.037 0 006.105 6.105l.774-1.548a1 1 0 011.059-.54l4.435.74a1 1 0 01.836.986V17a1 1 0 01-1 1h-2C7.82 18 2 12.18 2 5V3z" alt="{% translate 'Telephone' %}" />
            </svg>
        {% endif %}
        <a class="min-w-0" href="{{ contact.get_url }}" target="_blank">{{ contact }}</a>
    {% elif contact.classname == "WebsiteContact" %}
        {% if contact.get_host_name == "www.facebook.com" %}
            <span class="sr-only">Facebook</span>
            <svg class="h-5 w-5 shrink-0"
                 fill="currentColor"
                 viewBox="0 0 24 24"
                 aria-hidden="true">
                <path fill-rule="evenodd" d="M22 12c0-5.523-4.477-10-10-10S2 6.477 2 12c0 4.991 3.657 9.128 8.438 9.878v-6.987h-2.54V12h2.54V9.797c0-2.506 1.492-3.89 3.777-3.89 1.094 0 2.238.195 2.238.195v2.46h-1.26c-1.243 0-1.63.771-1.63 1.562V12h2.773l-.443 2.89h-2.33v6.988C18.343 21.128 22 16.991 22 12z" clip-rule="evenodd" />
            </svg>
            <a class="min-w-0" href="{{ contact.website }}" target="_blank">Facebook</a>
        {% elif contact.get_host_name == "twitter.com" %}
            <span class="sr-only">Twitter</span>
            <svg class="h-5 w-5 shrink-0"
                 fill="currentColor"
                 viewBox="0 0 24 24"
                 aria-hidden="true">
                <path d="M8.29 20.251c7.547 0 11.675-6.253 11.675-11.675 0-.178 0-.355-.012-.53A8.348 8.348 0 0022 5.92a8.19 8.19 0 01-2.357.646 4.118 4.118 0 001.804-2.27 8.224 8.224 0 01-2.605.996 4.107 4.107 0 00-6.993 3.743 11.65 11.65 0 01-8.457-4.287 4.106 4.106 0 001.27 5.477A4.072 4.072 0 012.8 9.713v.052a4.105 4.105 0 003.292 4.022 4.095 4.095 0 01-1.853.07 4.108 4.108 0 003.834 2.85A8.233 8.233 0 012 18.407a11.616 11.616 0 006.29 1.84" />
            </svg>
            <a class="min-w-0" href="{{ contact.website }}" target="_blank">Twitter</a>
        {% elif contact.get_host_name == "www.instagram.com" %}
            <span class="sr-only">Instagram</span>
            <svg class="h-5 w-5 shrink-0"
                 fill="currentColor"
                 viewBox="0 0 24 24"
                 aria-hidden="true">
                <path fill-rule="evenodd" d="M12.315 2c2.43 0 2.784.013 3.808.06 1.064.049 1.791.218 2.427.465a4.902 4.902 0 011.772 1.153 4.902 4.902 0 011.153 1.772c.247.636.416 1.363.465 2.427.048 1.067.06 1.407.06 4.123v.08c0 2.643-.012 2.987-.06 4.043-.049 1.064-.218 1.791-.465 2.427a4.902 4.902 0 01-1.153 1.772 4.902 4.902 0 01-1.772 1.153c-.636.247-1.363.416-2.427.465-1.067.048-1.407.06-4.123.06h-.08c-2.643 0-2.987-.012-4.043-.06-1.064-.049-1.791-.218-2.427-.465a4.902 4.902 0 01-1.772-1.153 4.902 4.902 0 01-1.153-1.772c-.247-.636-.416-1.363-.465-2.427-.047-1.024-.06-1.379-.06-3.808v-.63c0-2.43.013-2.784.06-3.808.049-1.064.218-1.791.465-2.427a4.902 4.902 0 011.153-1.772A4.902 4.902 0 015.45 2.525c.636-.247 1.363-.416 2.427-.465C8.901 2.013 9.256 2 11.685 2h.63zm-.081 1.802h-.468c-2.456 0-2.784.011-3.807.058-.975.045-1.504.207-1.857.344-.467.182-.8.398-1.15.748-.35.35-.566.683-.748 1.15-.137.353-.3.882-.344 1.857-.047 1.023-.058 1.351-.058 3.807v.468c0 2.456.011 2.784.058 3.807.045.975.207 1.504.344 1.857.182.466.399.8.748 1.15.35.35.683.566 1.15.748.353.137.882.3 1.857.344 1.054.048 1.37.058 4.041.058h.08c2.597 0 2.917-.01 3.96-.058.976-.045 1.505-.207 1.858-.344.466-.182.8-.398 1.15-.748.35-.35.566-.683.748-1.15.137-.353.3-.882.344-1.857.048-1.055.058-1.37.058-4.041v-.08c0-2.597-.01-2.917-.058-3.96-.045-.976-.207-1.505-.344-1.858a3.097 3.097 0 00-.748-1.15 3.098 3.098 0 00-1.15-.748c-.353-.137-.882-.3-1.857-.344-1.023-.047-1.351-.058-3.807-.058zM12 6.865a5.135 5.135 0 110 10.27 5.135 5.135 0 010-10.27zm0 1.802a3.333 3.333 0 100 6.666 3.333 3.333 0 000-6.666zm5.338-3.205a1.2 1.2 0 110 2.4 1.2 1.2 0 010-2.4z" clip-rule="evenodd" />
            </svg>
            <a href="{{ contact.website }}">Instagram</a>
        {% else %}
            <svg xmlns="http://www.w3.org/2000/svg"
                 class="h-5 w-5"
                 viewBox="0 0 20 20"
                 fill="currentColor">
                <path fill-rule="evenodd" d="M4.083 9h1.946c.089-1.546.383-2.97.837-4.118A6.004 6.004 0 004.083 9zM10 2a8 8 0 100 16 8 8 0 000-16zm0 2c-.076 0-.232.032-.465.262-.238.234-.497.623-.737 1.182-.389.907-.673 2.142-.766 3.556h3.936c-.093-1.414-.377-2.649-.766-3.556-.24-.56-.5-.948-.737-1.182C10.232 4.032 10.076 4 10 4zm3.971 5c-.089-1.546-.383-2.97-.837-4.118A6.004 6.004 0 0115.917 9h-1.946zm-2.003 2H8.032c.093 1.414.377 2.649.766 3.556.24.56.5.948.737 1.182.233.23.389.262.465.262.076 0 .232-.032.465-.262.238-.234.498-.623.737-1.182.389-.907.673-2.142.766-3.556zm1.166 4.118c.454-1.147.748-2.572.837-4.118h1.946a6.004 6.004 0 01-2.783 4.118zm-6.268 0C6.412 13.97 6.118 12.546 6.03 11H4.083a6.004 6.004 0 002.783 4.118z" clip-rule="evenodd" alt="{% translate 'Website' %}" />
            </svg>
            <a class="min-w-0" href="{{ contact.website }}" target="_blank">{{ contact.get_host_name }}</a>
        {% endif %}
    {% elif contact.classname == "PlatformContact" %}
        {% if contact.get_platform_display == "Facebook" %}
            <span class="sr-only">Facebook</span>
            <svg class="h-5 w-5 shrink-0"
                 fill="currentColor"
                 viewBox="0 0 24 24"
                 aria-hidden="true">
                <path fill-rule="evenodd" d="M22 12c0-5.523-4.477-10-10-10S2 6.477 2 12c0 4.991 3.657 9.128 8.438 9.878v-6.987h-2.54V12h2.54V9.797c0-2.506 1.492-3.89 3.777-3.89 1.094 0 2.238.195 2.238.195v2.46h-1.26c-1.243 0-1.63.771-1.63 1.562V12h2.773l-.443 2.89h-2.33v6.988C18.343 21.128 22 16.991 22 12z" clip-rule="evenodd" />
            </svg>
        {% endif %}
        {% if contact.get_platform_display == "Twitter" %}
            <span class="sr-only">Twitter</span>
            <svg class="h-5 w-5 shrink-0"
                 fill="currentColor"
                 viewBox="0 0 24 24"
                 aria-hidden="true">
                <path d="M8.29 20.251c7.547 0 11.675-6.253 11.675-11.675 0-.178 0-.355-.012-.53A8.348 8.348 0 0022 5.92a8.19 8.19 0 01-2.357.646 4.118 4.118 0 001.804-2.27 8.224 8.224 0 01-2.605.996 4.107 4.107 0 00-6.993 3.743 11.65 11.65 0 01-8.457-4.287 4.106 4.106 0 001.27 5.477A4.072 4.072 0 012.8 9.713v.052a4.105 4.105 0 003.292 4.022 4.095 4.095 0 01-1.853.07 4.108 4.108 0 003.834 2.85A8.233 8.233 0 012 18.407a11.616 11.616 0 006.29 1.84" />
            </svg>
        {% endif %}
        {% if contact.get_platform_display == "Instagram" %}
            <span class="sr-only">Instagram</span>
            <svg class="h-5 w-5 shrink-0"
                 fill="currentColor"
                 viewBox="0 0 24 24"
                 aria-hidden="true">
                <path fill-rule="evenodd" d="M12.315 2c2.43 0 2.784.013 3.808.06 1.064.049 1.791.218 2.427.465a4.902 4.902 0 011.772 1.153 4.902 4.902 0 011.153 1.772c.247.636.416 1.363.465 2.427.048 1.067.06 1.407.06 4.123v.08c0 2.643-.012 2.987-.06 4.043-.049 1.064-.218 1.791-.465 2.427a4.902 4.902 0 01-1.153 1.772 4.902 4.902 0 01-1.772 1.153c-.636.247-1.363.416-2.427.465-1.067.048-1.407.06-4.123.06h-.08c-2.643 0-2.987-.012-4.043-.06-1.064-.049-1.791-.218-2.427-.465a4.902 4.902 0 01-1.772-1.153 4.902 4.902 0 01-1.153-1.772c-.247-.636-.416-1.363-.465-2.427-.047-1.024-.06-1.379-.06-3.808v-.63c0-2.43.013-2.784.06-3.808.049-1.064.218-1.791.465-2.427a4.902 4.902 0 011.153-1.772A4.902 4.902 0 015.45 2.525c.636-.247 1.363-.416 2.427-.465C8.901 2.013 9.256 2 11.685 2h.63zm-.081 1.802h-.468c-2.456 0-2.784.011-3.807.058-.975.045-1.504.207-1.857.344-.467.182-.8.398-1.15.748-.35.35-.566.683-.748 1.15-.137.353-.3.882-.344 1.857-.047 1.023-.058 1.351-.058 3.807v.468c0 2.456.011 2.784.058 3.807.045.975.207 1.504.344 1.857.182.466.399.8.748 1.15.35.35.683.566 1.15.748.353.137.882.3 1.857.344 1.054.048 1.37.058 4.041.058h.08c2.597 0 2.917-.01 3.96-.058.976-.045 1.505-.207 1.858-.344.466-.182.8-.398 1.15-.748.35-.35.566-.683.748-1.15.137-.353.3-.882.344-1.857.048-1.055.058-1.37.058-4.041v-.08c0-2.597-.01-2.917-.058-3.96-.045-.976-.207-1.505-.344-1.858a3.097 3.097 0 00-.748-1.15 3.098 3.098 0 00-1.15-.748c-.353-.137-.882-.3-1.857-.344-1.023-.047-1.351-.058-3.807-.058zM12 6.865a5.135 5.135 0 110 10.27 5.135 5.135 0 010-10.27zm0 1.802a3.333 3.333 0 100 6.666 3.333 3.333 0 000-6.666zm5.338-3.205a1.2 1.2 0 110 2.4 1.2 1.2 0 010-2.4z" clip-rule="evenodd" />
            </svg>
        {% endif %}
        {% if contact.get_platform_display == "Mastodon" %}
            <span class="sr-only">Mastodon</span>
            <svg xmlns="http://www.w3.org/2000/svg"
                 class="h-5 w-5 shrink-0"
                 fill="currentColor"
                 viewBox="0 0 16 16">
                <path d="M11.19 12.195c2.016-.24 3.77-1.475 3.99-2.603.348-1.778.32-4.339.32-4.339 0-3.47-2.286-4.488-2.286-4.488C12.062.238 10.083.017 8.027 0h-.05C5.92.017 3.942.238 2.79.765c0 0-2.285 1.017-2.285 4.488l-.002.662c-.004.64-.007 1.35.011 2.091.083 3.394.626 6.74 3.78 7.57 1.454.383 2.703.463 3.709.408 1.823-.1 2.847-.647 2.847-.647l-.06-1.317s-1.303.41-2.767.36c-1.45-.05-2.98-.156-3.215-1.928a3.614 3.614 0 0 1-.033-.496s1.424.346 3.228.428c1.103.05 2.137-.064 3.188-.189zm1.613-2.47H11.13v-4.08c0-.859-.364-1.295-1.091-1.295-.804 0-1.207.517-1.207 1.541v2.233H7.168V5.89c0-1.024-.403-1.541-1.207-1.541-.727 0-1.091.436-1.091 1.296v4.079H3.197V5.522c0-.859.22-1.541.66-2.046.456-.505 1.052-.764 1.793-.764.856 0 1.504.328 1.933.983L8 4.39l.417-.695c.429-.655 1.077-.983 1.934-.983.74 0 1.336.259 1.791.764.442.505.661 1.187.661 2.046v4.203z" />
            </svg>
        {% endif %}
        <a class="min-w-0" href="{{ contact.get_url }}">{{ contact.get_platform_display }}</a>
    {% endif %}
</div>
