{% load i18n %}
<div class="md:flex md:items-center md:justify-between">
    <div class="flex-1 min-w-0">
        <h2 class="text-2xl font-bold leading-7 sm:text-3xl sm:truncate">{{ organization.name }}</h2>
    </div>
    <div class="mt-4 flex md:mt-0 md:ml-4">
        <a href="{{ organization.get_absolute_url }}"
           class="inline-flex items-center px-4 py-2 rounded-md shadow-sm text-sm font-medium bg-primary-800 hover:bg-primary-400 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-primary-800">
            <svg class="-ml-1 mr-2 h-5 w-5"
                 xmlns="http://www.w3.org/2000/svg"
                 fill="none"
                 viewBox="0 0 24 24"
                 stroke-width="1.5"
                 stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" d="M2.036 12.322a1.012 1.012 0 010-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178z" />
                <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
            </svg>
            {% translate "View" %}
        </a>
    </div>
</div>
<div class="mt-2">
    <div class="sm:hidden">
        <label for="tabs" class="sr-only">{% translate "Select a tab" %}</label>
        <select id="tabs"
                name="tabs"
                class="block w-full focus:ring-indigo-500 focus:border-indigo-500 rounded-md"
                onChange="if(this.value) window.location.href = this.value">
            <option {% if not "/services/" in request.path and not "/contacts/" in request.path %}selected{% endif %}
                    value="{{ organization.get_absolute_url }}edit/">{% translate "Organization data" %}</option>
            <option {% if "/services/" in request.path %}selected{% endif %}
                    value="{{ organization.get_absolute_url }}edit/services/">{% translate "Services" %}</option>
            <option {% if "/contacts/" in request.path %}selected{% endif %}
                    value="{{ organization.get_absolute_url }}edit/contacts/">{% translate "Contacts" %}</option>
        </select>
    </div>
    <div class="hidden sm:block">
        <div class="border-b border-gray-200">
            <nav class="-mb-px flex space-x-8" aria-label="Tabs">
                <a href="{{ organization.get_absolute_url }}edit/" class="{% if not "/services/" in request.path and not "/contacts/" in request.path %}border-primary-800 text-primary-800{% else %}border-transparent text-base-content/60 hover:text-base-content hover:border-gray-300{% endif %} whitespace-nowrap py-4 px-1 border-b-2 font-medium text-sm">
                    {% translate "Organization data" %}
                </a>
                <a href="{{ organization.get_absolute_url }}edit/services/" class="{% if "/services/" in request.path %}border-primary-800 text-primary-800{% else %}border-transparent text-base-content/60 hover:text-base-content hover:border-gray-300{% endif %} whitespace-nowrap py-4 px-1 border-b-2 font-medium text-sm" aria-current="page">{% translate "Services" %}</a>
                <a href="{{ organization.get_absolute_url }}edit/contacts/" class="{% if "/contacts/" in request.path %}border-primary-800 text-primary-800{% else %}border-transparent text-base-content/60 hover:text-base-content hover:border-gray-300{% endif %} whitespace-nowrap py-4 px-1 border-b-2 font-medium text-sm" aria-current="page">{% translate "Contacts" %}</a>
            </nav>
        </div>
    </div>
</div>
