{% load i18n %}
<div class="text-lg bg-base-100 shadow rounded-lg border-primary-800 border-2 ">
    <div class="flex items-center px-4 py-4 sm:px-6">{% translate "No organizations found!" %}</div>
</div>
