{# This template generates an organization entry in the search results list #}
{% load i18n %}
<div x-data
     class="bg-base-100 overflow-hidden rounded-lg divide-y divide-primary-800 border-primary-800 border-2 hover:border-primary-400 hover:divide-primary-400">
    <a href="{% url "organizations:show" organization.slug %}">
        <div class="flex items-center p-2 bg-primary-800 hover:bg-primary-400">
            {% if organization.logo %}
                <div class="flex-shrink-0 mr-4">
                    <img class="max-h-16 max-w-40 object-contain rounded object-left"
                         height="48"
                         width="auto"
                         src="{{ organization.logo.url }}"
                         alt="Logo of {{ organization.name }}"
                         loading="lazy">
                </div>
            {% endif %}
            <h3 class="text-lg leading-6 font-bold text-white mt-auto py-2 {% if not organization.logo %}pl-2{% endif %}"
                dir="auto">
                {{ organization.name }}
                {% if organization.superorganization %}
                    {% if organization.superorganization.alternative_name %}
                        [{{ organization.superorganization.alternative_name }}]
                    {% else %}
                        [{{ organization.superorganization.name }}]
                    {% endif %}
                {% endif %}
            </h3>
        </div>
    </a>
    <ul role="list">
        {% for service in services %}
            {% if forloop.counter0 < 3 %}
                {% include "organizations/partials/service_item.html" with collapsed=False %}
            {% else %}
                {% if forloop.counter0 == 3 %}
                    <ul data-less-services-text="{% translate "Show less services" %}"
                        data-more-services-text="{% translate "Show" %} {{ services|length|add:-3 }} {% translate "more service(s)" %}"
                        {# djlint:off #}
                        x-data="{
                            lessServicesText: $el.dataset.lessServicesText,
                            moreServicesText: $el.dataset.moreServicesText,
                            show: false
                        }"
                        {# djlint:on #}
                        class="divide-y divide-primary-800">
                    {% endif %}
                    {% include "organizations/partials/service_item.html" with collapsed=True %}
                    {% if forloop.last %}
                        <li x-cloak
                            hidden-no-js
                            class="px-6 py-2 border-0"
                            @click="show = ! show">
                            <div class="cursor-pointer hover:text-primary-800"
                                 x-text="show ? lessServicesText : moreServicesText">
                                {% trans "Further Services:" %}
                            </div>
                        </li>
                    </ul>
                {% endif %}
            {% endif %}
        {% endfor %}
    </ul>
</div>
