{% load i18n %}
{% load markdownify %}
{% load parler_tags %}
<div class="bg-base-100 rounded-lg divide-y divide-secondary-800 border-secondary-800 border-2"
     x-data="{ welcome: true }"
     x-show="welcome">
    <div class="flex items-center p-4 bg-secondary-800">
        <h3 class="text-lg leading-6 font-bold text-white">{{ welcome_text.title_translated | markdownify }}</h3>
        <button class="ml-auto text-white" @click="welcome = false">
            <span class="sr-only">Close</span>
            {% include 'icons/x-mark.html' with stroke_width=2 %}
        </button>
    </div>
    <div class="welcome-entry divide-y divide-secondary-800">{{ welcome_text.content_translated | markdownify }}</div>
</div>
