{% extends "base.html" %}
{% load i18n %}
{% block content %}
    {{ organizations|json_script:"organizations-data" }}
    <div class="mx-auto" hx-boost="true"
        {# djlint:off #}
        x-data="{
            states: ['new', 'in_review', 'pending', 'approved', 'rejected'],
            organizations: [],
            timeSince(date) {
                var seconds = Math.floor(((new Date().getTime()/1000) - date));
                var interval = seconds / 31536000;
                if (interval > 1) {
                    return Math.floor(interval) + ' years';
                }
                interval = seconds / 2592000;
                if (interval > 1) {
                    return Math.floor(interval) + ' months';
                }
                interval = seconds / 604800;
                if (interval > 1) {
                    return Math.floor(interval) + ' weeks';
                }
                interval = seconds / 86400;
                if (interval > 1) {
                    return Math.floor(interval) + ' days';
                }
                interval = seconds / 3600;
                if (interval > 1) {
                    return Math.floor(interval) + ' hours';
                }
                interval = seconds / 60;
                if (interval > 1) {
                    return Math.floor(interval) + ' minutes';
                }
                return Math.floor(seconds) + ' seconds';
            },
            filter: '',
            get filteredOrganizations() {
                return this.organizations.filter(
                    o => o.name.toLowerCase().includes(this.filter.toLowerCase())
                )
            }
        }"
        x-init="
            organizations = JSON.parse(document.getElementById('organizations-data').textContent);
            organizations.sort((a, b) => {
                if (a.latest_state_change === null) return 1;
                if (b.latest_state_change === null) return -1;
                return a.latest_state_change < b.latest_state_change ? 1 : -1;
            });
        "
        {# djlint:on #}>
        <h2 class="mt-6 text-3xl font-extrabold mb-8">{% translate "Organization Dashboard" %}</h2>
        {# Searchbar to filter organizations #}
        <div class="mb-2 max-w-xs">
            <form method="get" class="flex">
                <label for="filter" class="sr-only">{% translate "Search" %}</label>
                <input type="text"
                       name="filter"
                       class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md"
                       placeholder="{% translate "Search" %}"
                       x-model="filter">
            </form>
        </div>
        {# Organization cards #}
        <div class="flex items-center">
            <ul class="w-full">
                <template x-for="state in states">
                    <template x-if="orga_count > 0"
                        data-close-label="{% translate "close" %}"
                        data-expand-label="{% translate "expand" %}"
                        {# djlint:off #}
                        x-data="{
                            open: state == 'new' ? true : false,
                            closeLabel: $el.dataset.closeLabel,
                            expandLabel: $el.dataset.expandLabel,
                            get orga_count() {
                                return filteredOrganizations.filter(o => o.state == state).length;
                            },
                        }"
                        {# djlint:on #}>
                        <li x-bind:aria-expanded="open ? 'true' : 'false'"
                            x-bind:aria-label="open ? closeLabel : expandLabel"
                            class="py-2">
                            <div class="widget-button flex" @click="open = ! open">
                                <span x-text=orga_count class="text-2xl p-1 mx-1"></span><span x-text=state class="capitalize text-2xl p-1 mx-1"></span>
                                <button type="button"
                                        class="p-1 mx-1 ml-auto"
                                        x-bind:aria-label="open ? closeLabel : expandLabel">
                                    {% include "icons/arrow.html" with direction="up" style="h-5 w-5" function="x-show=open" %}
                                    {% include "icons/arrow.html" with direction="down" style="h-5 w-5" function="x-show=!open" %}
                                </button>
                            </div>
                            <ul class="py-4 grid gap-4 grid-cols-1 md:grid-cols-2 lg:grid-cols-3 m-auto"
                                x-show="open">
                                <template x-for="organization in filteredOrganizations.filter(o => o.state == state)">
                                    <li class="card card-compact w-72 bg-primary-800 shadow-xl justify-self-center">
                                        <div class="card-body">
                                            <div class="card-title">
                                                <h2 x-text=organization.name class="text-white break-all"></h2>
                                                {# State selection dropdown menu #}
                                                <details class="ml-auto mb-auto dropdown"
                                                         @click.away="$el.removeAttribute('open')">
                                                    <summary class="flex p-1 rounded-full hover:bg-primary-600">{% include 'icons/ellipsis-vertical.html' %}</summary>
                                                    <ul class="dropdown-content menu p-1 shadow bg-base-100 whitespace-nowrap rounded-box z-50">
                                                        <template x-for="state in states">
                                                            <template x-if="state != organization.state">
                                                                <form method="post">
                                                                    {% csrf_token %}
                                                                    <li>
                                                                        <input type="hidden" :value="organization.id" name="organization_id">
                                                                        <label class="text-sm hover:bg-slate-200">
                                                                            <span>Set:</span><span x-text="state"></span>
                                                                            <input type="submit" name="state" :value="state" class="hidden">
                                                                        </label>
                                                                    </li>
                                                                </form>
                                                            </template>
                                                        </template>
                                                        <template x-if="organization.state == 'rejected'">
                                                            <form method="post"
                                                                  hx-confirm="Are you sure you want to delete the organization?">
                                                                {% csrf_token %}
                                                                <li>
                                                                    <input type="hidden" :value="organization.id" name="organization_id">
                                                                    <label class="text-sm hover:bg-slate-200">
                                                                        Delete Organization
                                                                        <input type="submit" name="state" value="delete" class="hidden">
                                                                    </label>
                                                                </li>
                                                            </form>
                                                        </template>
                                                    </ul>
                                                </details>
                                            </div>
                                            <template x-if="organization.verified">
                                                <div class="text-white flex">
                                                    {% include 'icons/check-badge.html' with style="mr-1 h-5 w-5" fill="white" %}
                                                    <span>{% translate "Verified" %}</span>
                                                </div>
                                            </template>
                                            <template x-if="organization.latest_state_change">
                                                <div class="text-white">
                                                    <span class="capitalize" x-text=organization.state></span>
                                                    <span>since</span>
                                                    <span x-text="timeSince(organization.latest_state_change)"></span>
                                                </div>
                                            </template>
                                            <template x-if="organization.creator__username">
                                                <div class="text-white">
                                                    <span>{% translate "Created by" %}</span> <span x-text=organization.creator__username></span>
                                                </div>
                                            </template>
                                            <form method="post" class="mt-auto">
                                                {% csrf_token %}
                                                <input type="hidden" :value="organization.id" name="organization_id">
                                                <textarea class="textarea textarea-bordered textarea-ghost text-white placeholder:text-slate-400"
                                                          name="comment"
                                                          type="text"
                                                          placeholder="{% translate "Comment" %}"
                                                          x-text="organization.comment"
                                                          x-data="{resize: () => {$el.style.height = '5px'; $el.style.height = $el.scrollHeight + 'px'}}"
                                                          x-init="() => $nextTick(() => resize()), $watch('open', () => $nextTick(() => resize())), htmx.process($el)"
                                                          @input="resize()"
                                                          @input.debounce.500ms="$dispatch('areachange')"
                                                          hx-post="/dashboard/"
                                                          hx-trigger="areachange delay:500ms"></textarea>
                                            </form>
                                            <div class="card-actions justify-end">
                                                <a :href="organization.url">
                                                    <button class="btn btn-sm btn-secondary rounded-full">View</button>
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                </template>
                            </ul>
                        </li>
                    </template>
                </template>
            </ul>
        </div>
    </div>
{% endblock content %}
