{% extends "base.html" %}
{% load i18n %}
{% block content %}
    <div class="px-3 md:px-0 mx-auto mt-4">
        {% include "organizations/_edit_organization_header.html" with organization=organization %}
        <div class="flex items-center justify-center px-4 sm:px-6 md:px-0">
            <form method="post" enctype="multipart/form-data" class="mt-6 w-full">
                {% csrf_token %}
                {{ formset }}
                <div class="mt-4">{% include "partials/button.html" with label=_("Submit") %}</div>
            </form>
        </div>
    </div>
{% endblock %}
