{% extends "base.html" %}
{% load i18n %}
{% load customtag %}
{% block content %}
    <div class="px-3 md:px-0 mx-auto mt-4">
        {% include "organizations/_edit_organization_header.html" with organization=organization %}
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ formset }}
            <br>
            {% include "partials/button.html" with label=_("Submit") %}
        </form>
    </div>
{% endblock content %}
