{% extends "base.html" %}
{% load i18n %}
{% load customtag %}
{% block content %}
    <div class="mx-auto px-3 md:px-0 mt-4">
        {% include "organizations/_edit_organization_header.html" with organization=organization %}
        <div class="flex items-center justify-center">
            <form method="post" enctype="multipart/form-data" class="mt-6 w-full">
                {% csrf_token %}
                {% include "partials/form_fields.html" with form=form help_text=True %}
                <br>
                {% include "partials/button.html" with label=_("Submit") %}
            </form>
        </div>
    </div>
{% endblock content %}
