{% load customtag %}
{% load qr_code %}
{% load i18n parler_tags %}
<!DOCTYPE html>
<html dir="{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}"
      lang="{{ LANGUAGE_CODE }}">
    <head>{% include "head.html" %}</head>
    <body onload="window.print()">
        <main>
            {% for organization in organizations %}
                {% objectlanguage organization "en" %}
                {% language 'en' %}
                    <section class="flex flex-col gap-2">
                        <div class="flex flex-row justify-between gap-2">
                            {% comment %} Topics {% endcomment %}
                            <div class="flex flex-wrap gap-2">
                                {% for topic in organization.topics.all %}
                                    <div class="rounded flex border-2 border-gray-800 text-gray-700 px-1 h-fit">
                                        <svg xmlns="http://www.w3.org/2000/svg"
                                             class="h-4 w-4 mt-1"
                                             fill="none"
                                             viewBox="0 0 24 24"
                                             stroke="currentColor"
                                             stroke-width="2">
                                            <path stroke-linecap="round" stroke-linejoin="round" d="M7 20l4-16m2 16l4-16M6 9h14M4 15h14"></path>
                                        </svg>
                                        <div>{{ topic }}</div>
                                    </div>
                                {% endfor %}
                            </div>
                            {% comment %} Participation flag {% endcomment %}
                            {% if organization.participation %}
                                <div class="shrink-0 ">{% include "icons/participation.html" %}</div>
                            {% endif %}
                        </div>
                        {% comment %} Name and classification stars {% endcomment %}
                        <h2 class="text-2xl font-bold text-gray-900">
                            {{ organization.name }} {{ "★"|multiply:organization.max_num_classifications }}
                        </h2>
                        <div class="flex gap-2">
                            <div class="w-2/3 shrink-0 flex flex-col gap-2">
                                {% comment %} Services {% endcomment %}
                                <div class="flex flex-col border-2 border-secondary-800 rounded divide-secondary-800 shadow-sm">
                                    <div class="bg-secondary-800 text-white" style="print-color-adjust: exact">
                                        <h4 class="font-bold px-4 py-3 text-lg leading-6">{% translate "Services" %}</h4>
                                    </div>
                                    <div class="py-3 px-4">
                                        {% for service in organization.services.all %}
                                            {{ service.service_category.name }}
                                            {% if not forloop.last %},{% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                                {% comment %} Participation text {% endcomment %}
                                {% if organization.participation %}
                                    <div class="flex flex-col border-2 border-primary-800 rounded divide-primary-800 shadow-sm">
                                        <div class="bg-primary-800 text-white" style="print-color-adjust: exact;">
                                            <h4 class="font-bold px-4 py-3 text-lg leading-6">{% translate "Participate" %}</h4>
                                        </div>
                                        <div class="py-3 px-4">{{ organization.participation }}</div>
                                    </div>
                                {% endif %}
                            </div>
                            {% comment %} QR and link {% endcomment %}
                            <div class="w-1/3 shrink flex flex-col items-center text-center">
                                {% with url='https://iniradar.org/'|add:organization.slug %}
                                    {% qr_from_text url size="8" version=7 border=0 %}
                                    <a href="{{ url }}">{{ url|remove:"https://" }}</a>
                                {% endwith %}
                            </div>
                        </div>
                    </section>
                    <span style="page-break-before: always !important"></span>
                {% endlanguage %}
            {% endobjectlanguage %}
            <section class="flex flex-col gap-2">
                <div class="flex flex-row justify-between gap-2">
                    {% comment %} Topics {% endcomment %}
                    <div class="flex flex-wrap gap-2">
                        {% for topic in organization.topics.all %}
                            <div class="rounded flex border-2 border-gray-800 text-gray-700 px-1 h-fit">
                                <svg xmlns="http://www.w3.org/2000/svg"
                                     class="h-4 w-4 mt-1"
                                     fill="none"
                                     viewBox="0 0 24 24"
                                     stroke="currentColor"
                                     stroke-width="2">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M7 20l4-16m2 16l4-16M6 9h14M4 15h14"></path>
                                </svg>
                                <div>{{ topic }}</div>
                            </div>
                        {% endfor %}
                    </div>
                    {% comment %} Participation flag {% endcomment %}
                    {% if organization.participation %}
                        <div class="shrink-0 ">{% include "icons/participation.html" %}</div>
                    {% endif %}
                </div>
                {% comment %} Name and classification stars {% endcomment %}
                <h2 class="text-2xl font-bold text-gray-900">
                    {{ organization.name }} {{ "★"|multiply:organization.max_num_classifications }}
                </h2>
                <div class="flex gap-2">
                    <div class="w-2/3 shrink-0 flex flex-col gap-2">
                        {% comment %} Services {% endcomment %}
                        <div class="flex flex-col border-2 border-secondary-800 rounded divide-secondary-800 shadow-sm">
                            <div class="bg-secondary-800 text-white" style="print-color-adjust: exact">
                                <h4 class="font-bold px-4 py-3 text-lg leading-6">{% translate "Services" %}</h4>
                            </div>
                            <div class="py-3 px-4">
                                {% for service in organization.services.all %}
                                    {{ service.service_category.name }}
                                    {% if not forloop.last %},{% endif %}
                                {% endfor %}
                            </div>
                        </div>
                        {% comment %} Participation text {% endcomment %}
                        {% if organization.participation %}
                            <div class="flex flex-col border-2 border-primary-800 rounded divide-primary-800 shadow-sm">
                                <div class="bg-primary-800 text-white" style="print-color-adjust: exact;">
                                    <h4 class="font-bold px-4 py-3 text-lg leading-6">{% translate "Participate" %}</h4>
                                </div>
                                <div class="py-3 px-4">{{ organization.participation }}</div>
                            </div>
                        {% endif %}
                    </div>
                    {% comment %} QR and link {% endcomment %}
                    <div class="w-1/3 shrink flex flex-col items-center text-center">
                        {% with url='https://iniradar.org/'|add:organization.slug %}
                            {% qr_from_text url size="8" version=7 border=0 %}
                            <a href="{{ url }}">{{ url|remove:"https://" }}</a>
                        {% endwith %}
                    </div>
                </div>
            </section>
            <span style="page-break-before: always !important"></span>
        {% endfor %}
    </main>
</body>
</html>
