{# This template generates an organization's detail view #}
{% extends "base.html" %}
{% load i18n parler_tags static %}
{% block extra_head %}
    {% include 'map_bundle.html' %}
{% endblock %}
{% block content %}
    {% if user in organization.assignees.all or user.is_superuser %}
        <div class="flex flex-col sm:mt-4 gap-2">
            {% if organization.state == "new" %}
                <h1 class="preview-container">
                    {% blocktranslate with name=organization.name title=site.settings|get_translated_field:'title' %}This is a preview of {{ name }}, which is not yet publicly listed on {{ title }}.{% endblocktranslate %}
                    {% translate "It is visible to you because your account is assigned to this organization." %}
                </h1>
            {% endif %}
            {% if user.is_superuser %}
                <div class="border rounded-sm py-1 px-2" x-data="{ open: true }">
                    <button @click="open = !open" class="hover:text-black text-md flex flex-row">
                        {% include "icons/arrow.html" with direction="up" style="mr-1 p-0.5 h-5 w-5" function="x-show='open'" %}
                        {% include "icons/arrow.html" with direction="down" style="mr-1 p-0.5 h-5 w-5" function="x-show='!open'" %}
                        {% translate "Admin infos" %}
                    </button>
                    <div x-show="open">
                        {% if organization.assignees.all %}
                            <div>{% translate "The organization has the following accounts assigned:" %}</div>
                            <ul>
                                {% for user in organization.assignees.all %}
                                    <li>
                                        • {{ user.username }}
                                        {% if user == organization.creator %}(creator){% endif %}
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                        <form method="post">
                            {% csrf_token %}
                            <label class="hover:cursor-pointer hover:text-primary-800 mt-3">
                                <span>🔗 Generate link to create an ini-account.</span>
                                <input type="submit" name="account_url" value="account_url" class="hidden">
                            </label>
                        </form>
                        {% if reset_url %}
                            <div class="inline-block border border-dashed rounded-md px-2 select-all"
                                 dir="ltr">{{ reset_url }}</div>
                        {% endif %}
                        <form method="post">
                            {% csrf_token %}
                            <label class="hover:cursor-pointer hover:text-primary-800 mt-3">
                                <span>🔗 Generate preview-link to the entry without ini-account required.</span>
                                <input type="submit" name="preview_url" value="preview_url" class="hidden">
                            </label>
                        </form>
                        {% if preview_url %}
                            <div class="inline-block border border-dashed rounded-md px-2 select-all"
                                 dir="ltr">{{ preview_url }}</div>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        </div>
    {% endif %}
    <div class="flex sm:mt-4 pt-2 ">
        {% if organization.logo %}
            <div class="mr-2 mt-1">
                <div>
                    <img class="max-h-24 object-contain rounded"
                         width="auto"
                         height="96"
                         src="{{ organization.logo.url }}"
                         alt="{% blocktranslate with name=organization.name %} Logo of {{ name }} {% endblocktranslate%}"
                         loading="lazy">
                </div>
            </div>
        {% endif %}
        <div class="ml-auto flex flex-wrap justify-end">
            {% if not organization.verified %}
                {% if user.is_superuser or user in organization.assignees.all or shared %}
                    <div class="mt-1 mr-1">
                        <form method="post">
                            {% csrf_token %}
                            <label class="hover:cursor-pointer bg-primary-800 inline-flex items-center px-4 py-2 rounded-md shadow-sm text-sm font-medium text-white hover:bg-primary-400 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-primary-800">
                                <svg xmlns="http://www.w3.org/2000/svg"
                                     class="h-5 w-5 mr-1"
                                     viewBox="0 0 20 20"
                                     fill="currentColor">
                                    <path fill-rule="evenodd" d="M6.267 3.455a3.066 3.066 0 001.745-.723 3.066 3.066 0 013.976 0 3.066 3.066 0 001.745.723 3.066 3.066 0 012.812 2.812c.051.643.304 1.254.723 1.745a3.066 3.066 0 010 3.976 3.066 3.066 0 00-.723 1.745 3.066 3.066 0 01-2.812 2.812 3.066 3.066 0 00-1.745.723 3.066 3.066 0 01-3.976 0 3.066 3.066 0 00-1.745-.723 3.066 3.066 0 01-2.812-2.812 3.066 3.066 0 00-.723-1.745 3.066 3.066 0 010-3.976 3.066 3.066 0 00.723-1.745 3.066 3.066 0 012.812-2.812zm7.44 5.252a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
                                </svg>
                                {% translate "Mark verified" %}
                                <input type="submit" name="verify" value="verify" class="hidden">
                            </label>
                        </form>
                    </div>
                {% endif %}
            {% endif %}
            {% if user.is_superuser and organization.state == "new" %}
                <div class="mt-1 mr-1">
                    <form method="post">
                        {% csrf_token %}
                        <label class="hover:cursor-pointer bg-primary-800 inline-flex items-center px-4 py-2 rounded-md shadow-sm text-sm font-medium text-white hover:bg-primary-400 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-primary-800">
                            <svg xmlns="http://www.w3.org/2000/svg"
                                 fill="none"
                                 viewBox="0 0 24 24"
                                 stroke-width="2.5"
                                 stroke="currentColor"
                                 class="w-5 h-5 mr-1">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
                            </svg>
                            {% translate "Publish" %}
                            <input type="submit" name="approve" value="approve" class="hidden">
                        </label>
                    </form>
                </div>
            {% endif %}
            {% if user.is_superuser or user in organization.assignees.all %}
                <div class="mt-1 mr-1">
                    <a href="{{ organization.get_absolute_url }}edit/"
                       class="bg-primary-800 inline-flex items-center px-4 py-2 rounded-md shadow-sm text-sm font-medium text-white hover:bg-primary-400 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-primary-800">
                        <svg xmlns="http://www.w3.org/2000/svg"
                             class="h-5 w-5 mr-1"
                             viewBox="0 0 20 20"
                             fill="currentColor">
                            <path d="M17.414 2.586a2 2 0 00-2.828 0L7 10.172V13h2.828l7.586-7.586a2 2 0 000-2.828z" />
                            <path fill-rule="evenodd" d="M2 6a2 2 0 012-2h4a1 1 0 010 2H4v10h10v-4a1 1 0 112 0v4a2 2 0 01-2 2H4a2 2 0 01-2-2V6z" clip-rule="evenodd" />
                        </svg>
                        {% translate "Edit" %}
                    </a>
                </div>
            {% endif %}
        </div>
    </div>
    {# Name and Logo #}
    <div class="flex items-start mt-3 sm:mt-4 flex-col justify-start">
        <div class="flex flex-row items-center">
            <h1 class="text-2xl font-bold" dir="auto">{{ organization.name }}</h1>
            {% if organization.verified %}
                <div class="sm:tooltip sm:tooltip-right sm:tooltip-secondary"
                     data-tip="{% translate "The initiative reviewed this entry" %}">
                    <svg xmlns="http://www.w3.org/2000/svg"
                         class="mx-1 h-5 w-5"
                         viewBox="0 0 20 20"
                         fill="#c420d9">
                        <path fill-rule="evenodd" d="M6.267 3.455a3.066 3.066 0 001.745-.723 3.066 3.066 0 013.976 0 3.066 3.066 0 001.745.723 3.066 3.066 0 012.812 2.812c.051.643.304 1.254.723 1.745a3.066 3.066 0 010 3.976 3.066 3.066 0 00-.723 1.745 3.066 3.066 0 01-2.812 2.812 3.066 3.066 0 00-1.745.723 3.066 3.066 0 01-3.976 0 3.066 3.066 0 00-1.745-.723 3.066 3.066 0 01-2.812-2.812 3.066 3.066 0 00-.723-1.745 3.066 3.066 0 010-3.976 3.066 3.066 0 00.723-1.745 3.066 3.066 0 012.812-2.812zm7.44 5.252a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
                    </svg>
                </div>
            {% endif %}
        </div>
        {% if organization.superorganization %}
            <p class="italic">
                ({% translate "Part of" %} <a href="/{{ organization.superorganization.slug }}">{% translate organization.superorganization.name %}</a>)
            </p>
        {% endif %}
    </div>
    <div class="mt-4 whitespace-pre-wrap">{{ organization.description }}</div>
    <div class="flex flex-row mt-2 label-text">
        {% include "icons/clock.html" with style="h-4 w-4 shrink-0" %}
        <p class="italic text-sm ml-2">
            {% translate "Always check the organisation's website for possible updates before you visit a service." %}
        </p>
    </div>
    {% if organization.topics.exists %}
        <div class="flex flex-wrap gap-2 mt-4">
            {% for topic in organization.topics.all %}
                <div class="rounded flex border-2 px-1 border-base-content">
                    <svg xmlns="http://www.w3.org/2000/svg"
                         class="h-4 w-4 mt-1"
                         fill="none"
                         viewBox="0 0 24 24"
                         stroke="currentColor"
                         stroke-width="2">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M7 20l4-16m2 16l4-16M6 9h14M4 15h14" />
                    </svg>
                    <div>{{ topic }}</div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
    {# Contacts #}
    {% if organization.contacts.exists %}
        <div class="flex flex-row bg-primary-800 rounded border-2 border-primary-800 text-white mt-4 mx-0">
            <div class="w-full py-2 px-4 grid md:grid-cols-3 md:justify-between gap-1.5">
                {% for contact in organization.contacts.all %}
                    {% include "organizations/_contact.html" with contact=contact %}
                {% endfor %}
            </div>
            {% if user.is_superuser or user in organization.assignees.all %}
                <a href="{{ organization.get_absolute_url }}edit/contacts"
                   class="inline-flex items-center ml-auto px-4 py-3">
                    <svg xmlns="http://www.w3.org/2000/svg"
                         class="h-5 w-5 mr-1"
                         viewBox="0 0 20 20"
                         fill="currentColor">
                        <path d="M17.414 2.586a2 2 0 00-2.828 0L7 10.172V13h2.828l7.586-7.586a2 2 0 000-2.828z" />
                        <path fill-rule="evenodd" d="M2 6a2 2 0 012-2h4a1 1 0 010 2H4v10h10v-4a1 1 0 112 0v4a2 2 0 01-2 2H4a2 2 0 01-2-2V6z" clip-rule="evenodd" />
                    </svg>
                    {% translate "Edit" %}
                </a>
            {% endif %}
        </div>
    {% endif %}
    {# Map #}
    {% if services_physicallocations %}
        {{ services_physicallocations | json_script:"geojson" }}
        <div id="map_container"
             data-coordinates="{{ site.settings.default_coordinates }}"
             data-zoom="{{ site.settings.default_zoom }}"
             class="h-96 mt-4 rounded"></div>
    {% endif %}
    {# Services #}
    <div class="py-4">
        <h2 class="sr-only">{% translate 'Services' %}</h2>
        <ul role="list" class="grid grid-cols-1 gap-4 mx-0">
            {% for service in organization.services.all %}
                <a id="service-{{ service.id }}"
                   class="block invisible relative -top-[64px]"></a>
                <li class="border-2 border-secondary-800 rounded divide-y divide-secondary-800 shadow-sm">
                    <div class="flex flex-row bg-secondary-800 text-white">
                        <h4 class="font-bold px-4 py-3 text-lg leading-6">{{ service.service_category.name }}</h4>
                        {% if user.is_superuser or user in organization.assignees.all %}
                            <a href="{{ organization.get_absolute_url }}edit/services/#service-{{ service.id }}"
                               class="inline-flex items-center px-4 py-3 ml-auto">
                                <svg xmlns="http://www.w3.org/2000/svg"
                                     class="h-5 w-5 mr-1"
                                     viewBox="0 0 20 20"
                                     fill="currentColor">
                                    <path d="M17.414 2.586a2 2 0 00-2.828 0L7 10.172V13h2.828l7.586-7.586a2 2 0 000-2.828z" />
                                    <path fill-rule="evenodd" d="M2 6a2 2 0 012-2h4a1 1 0 010 2H4v10h10v-4a1 1 0 112 0v4a2 2 0 01-2 2H4a2 2 0 01-2-2V6z" clip-rule="evenodd" />
                                </svg>
                                {% translate "Edit" %}
                            </a>
                        {% endif %}
                    </div>
                    <div>
                        {% if service.description %}
                            <div class="p-2">
                                <div class="sr-only">{% translate "Description" %}</div>
                                <div class="whitespace-pre-wrap break-words">{{ service.description }}</div>
                            </div>
                        {% endif %}
                        <div class="p-2 flex flex-row">
                            <div class="pl-2 pr-4">
                                <div class="sr-only">{% translate "Weekdays" %}</div>
                                <svg xmlns="http://www.w3.org/2000/svg"
                                     class="h-5 w-500"
                                     viewBox="0 0 20 20"
                                     fill="currentColor">
                                    <path fill-rule="evenodd" d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z" clip-rule="evenodd" />
                                </svg>
                            </div>
                            <div>
                                <div>
                                    {% if service.get_list_of_days|length == 7 %}
                                        {% translate "Everyday" %}
                                    {% elif service.get_list_of_days|length == 0 %}
                                        {% translate "Unregular" %}
                                    {% else %}
                                        {% for day in service.get_list_of_days %}
                                            {# djlint:off #}
                                            {{ day }}{% if not forloop.last %},{% endif %}
                                            {# djlint:on #}
                                        {% endfor %}
                                    {% endif %}
                                </div>
                                {% if not service.get_list_of_days|length == 0 and not service.recurring_weekly %}
                                    <div class="italic label-text">{% translate "This service does not happen every week." %}</div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="p-2 flex flex-row">
                            <div class="pl-2 pr-4">
                                <div class="sr-only">{% translate "Locations" %}</div>
                                <svg xmlns="http://www.w3.org/2000/svg"
                                     class="h-5 w-5"
                                     viewBox="0 0 20 20"
                                     fill="currentColor">
                                    <path fill-rule="evenodd" d="M5.05 4.05a7 7 0 119.9 9.9L10 18.9l-4.95-4.95a7 7 0 010-9.9zM10 11a2 2 0 100-4 2 2 0 000 4z" clip-rule="evenodd" />
                                </svg>
                            </div>
                            <ul>
                                {% if service.physicallocations.all %}
                                    {% for physicallocation in service.physicallocations.all %}
                                        <li {% if not forloop.last %}class="pb-2"{% endif %}>
                                            <a href={{ physicallocation.get_geo_link }}>
                                                {{ physicallocation.street_address }}
                                                <br>
                                                {{ physicallocation.postal_code }} {{ physicallocation.address_region }}
                                            </a>
                                        {% endfor %}
                                    </li>
                                {% else %}
                                    {% translate "No (public) locations" %}
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                    {% include "organizations/_filtercategories.html" with model=service %}
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
