{% extends "base.html" %}
{% load i18n %}
{% load markdownify %}
{% block head %}
    {{ wizard.form.media }}
{% endblock head %}
{% block content %}
    <div class="mx-auto">
        <h2 class="mt-5 text-3xl font-extrabold leading-8 tracking-tight">{% translate "Submit organization" %}</h2>
        {% if form_intro %}
            <div
                data-show-less-text="{% translate "Show less" %}"
                data-show-more-text="{% translate "Show more" %}"
                {# djlint:off #}
                x-data="{
                    showLessText: $el.dataset.showLessText,
                    showMoreText: $el.dataset.showMoreText,
                    open: false
                }">
                {# djlint:on #}
                <div class="prose max-w-full mt-4"
                     :class="open ? '' : 'text-transparent bg-clip-text bg-gradient-to-t from-base-100 to-base-content overflow-hidden h-32'">
                    {{ form_intro.content_translated|markdownify }}
                </div>
                <div class="flex justify-center">
                    <button @click="open = ! open" x-text="open ? showLessText : showMoreText"></button>
                </div>
            </div>
        {% endif %}
        <form action=""
              method="post"
              class="px-3 md:px-0"
              enctype="multipart/form-data">
            <nav aria-label="Progress" class="mt-8">
                <ol role="list" class="space-y-4 md:flex md:space-y-0 md:space-x-8">
                    <li class="md:flex-1">
                        <button name="wizard_goto_step"
                                type="submit"
                                value="0"
                                class="w-full pl-4 py-2 flex flex-col border-l-4 {% if wizard.steps.step1 >= 1 %}border-primary-900 {% else %}border-gray-200 {% endif %}{% if wizard.steps.step1 > 1 %}group hover:border-primary-800{% endif %} md:pl-0 md:pt-4 md:pb-0 md:border-l-0 md:border-t-4"
                                {% if wizard.steps.step1 == 1 %}aria-current="step"{% endif %}>
                            <span class="text-primary-800 font-semibold tracking-wide uppercase {% if wizard.steps.step1 > 1 %}group-hover:text-primary-800{% endif %}">{% translate "Step" %} 1</span>
                            <span class="font-medium">{% translate "Organization details" %}</span>
                        </button>
                    </li>
                    <li class="md:flex-1">
                        <button name="wizard_goto_step"
                                type="submit"
                                value="1"
                                class="w-full pl-4 py-2 flex flex-col border-l-4 {% if wizard.steps.step1 >= 2 %}border-primary-900 {% else %}border-gray-200 {% endif %}{% if wizard.steps.step1 > 2 %}group hover:border-primary-800{% endif %} md:pl-0 md:pt-4 md:pb-0 md:border-l-0 md:border-t-4"
                                {% if wizard.steps.step1 == 2 %}aria-current="step"{% endif %}>
                            <span class="text-primary-800 font-semibold tracking-wide uppercase {% if wizard.steps.step1 > 2 %}group-hover:text-primary-800{% endif %}">{% translate "Step" %} 2</span>
                            <span class="font-medium">{% translate "Contacts" %}</span>
                        </button>
                    </li>
                    <li class="md:flex-1">
                        <button name="wizard_goto_step"
                                type="submit"
                                value="2"
                                class="w-full pl-4 py-2 flex flex-col border-l-4 {% if wizard.steps.step1 >= 3 %}border-primary-900 {% else %}border-gray-200 {% endif %}{% if wizard.steps.step1 > 3 %}group hover:border-primary-800{% endif %} md:pl-0 md:pt-4 md:pb-0 md:border-l-0 md:border-t-4"
                                {% if wizard.steps.step1 == 3 %}aria-current="step"{% endif %}>
                            <span class="text-primary-800 font-semibold tracking-wide uppercase {% if wizard.steps.step1 > 3 %}group-hover:text-primary-800{% endif %}">{% translate "Step" %} 3</span>
                            <span class="font-medium">{% translate "Services" %}</span>
                        </button>
                    </li>
                    <li class="md:flex-1">
                        <button name="wizard_goto_step"
                                type="submit"
                                value="3"
                                class="w-full pl-4 py-2 flex flex-col border-l-4 {% if wizard.steps.step1 >= 4 %}border-primary-900 {% else %}border-gray-200 {% endif %}{% if wizard.steps.step1 > 4 %}group hover:border-primary-800{% endif %} md:pl-0 md:pt-4 md:pb-0 md:border-l-0 md:border-t-4"
                                {% if wizard.steps.step1 == 3 %}aria-current="step"{% endif %}>
                            <span class="text-primary-800 font-semibold tracking-wide uppercase {% if wizard.steps.step1 > 4 %}group-hover:text-primary-800{% endif %}">{% translate "Step" %} 4</span>
                            <span class="font-medium">{% translate "Optional user account" %}</span>
                        </button>
                    </li>
                </ol>
            </nav>
            {% csrf_token %}
            {{ wizard.management_form }}
            {% if wizard.steps.step1 == 4 and user.is_authenticated and not user.is_staff %}
                <div class="mt-8 mb-4 py-2 px-4 font-medium p-4 bg-primary-800 text-white rounded">
                    {% translate "You are logged in. The submitted organization will be connected to your account and you can edit it." %}
                </div>
                <div class="mt-4">
                    <label class="inline-flex items-center">
                        <input type="checkbox" name="3-member">
                        <span class="ml-2">{% translate "I am a member of the submitted organization." %}</span>
                    </label>
                </div>
            {% endif %}
            {% if wizard.steps.step1 == 4 and user.is_staff %}
                <div class="mt-8 mb-4 py-2 px-4 font-medium p-4 bg-primary-800 text-white rounded">
                    {% translate "You are logged in with an admin account, the organization won't be connected to you." %}
                </div>
                <div class="mt-4">
                    <label class="inline-flex items-center">
                        <input type="checkbox" name="3-send-email">
                        <span class="ml-2">{% translate "Send confirmation mail to organization email-contact." %}</span>
                    </label>
                </div>
            {% endif %}
            <div class="mt-8">
                {% if wizard.steps.step1 != 4 or not user.is_authenticated %}{{ wizard.form }}{% endif %}
            </div>
            <div class="mt-8 flex flex-row-reverse">
                {% if not wizard.steps.current == wizard.steps.last %}
                    {% include "partials/button.html" with label=_("Next") %}
                {% else %}
                    {% include "partials/button.html" with label=_("Submit") %}
                {% endif %}
            </div>
        </form>
    </div>
{% endblock content %}
