{% extends "base.html" %}
{% load markdownify %}
{% block title %}{{ flatpage.parlerflatpage.title_translated }}{% endblock %}
{% block content %}
    <section class="prose">
        <h1 class="mt-5 md:mt-8">{{ flatpage.parlerflatpage.title_translated }}</h1>
        <div class="markdown">{{ flatpage.parlerflatpage.content_translated | markdownify }}</div>
    </section>
{% endblock %}
