{% extends "base.html" %}
{% load i18n honeypot %}
{% block content %}
    <div class="mx-auto">
        <h2 class="mt-6 text-center text-3xl font-extrabold">{{ heading }}</h2>
        {% if description %}<div class="text-center py-6 px-4 sm:px-6 lg:px-8">{{ description }}</div>{% endif %}
        {% if form %}
            <div class="flex items-center justify-center py-6 px-4 sm:px-6 lg:px-8">
                <form method="post" class="mt-6 w-full md:w-1/2 space-y-6">
                    {% csrf_token %}
                    {% include "partials/form_fields.html" with form=form help_text=False %}
                    {% render_honeypot_field %}
                    {% include "partials/button.html" with label=button_label width="w-full" %}
                </form>
            </div>
        {% endif %}
        {% if type == "login" %}
            <div class="py-4 text-center text-sm cursor-pointer text-primary-800">
                <a href="{% url 'accounts:password_reset' %}">{% translate 'Forgot password?' %}</a>
            </div>
        {% endif %}
        {% if alt_action_url %}
            <p class="text-center cursor-pointer text-primary-800 font-bold">
                <a href="{{ alt_action_url }}">{{ alt_action_text }}</a>
            </p>
        {% endif %}
    </div>
{% endblock %}
