{% extends "base.html" %}
{% load i18n %}
{% block content %}
    <div class="mx-auto">
        <h2 class="mt-6 text-center text-3xl font-extrabold">{% translate "My organizations" %}</h2>
        <div class="text-center py-6 px-4 sm:px-6 lg:px-8">
            {% translate "The following organizations are connected to your account." %}
        </div>
        <div class="flex items-center justify-center py-6 px-4 sm:px-6 lg:px-8">
            <ul class="mt-6 w-full md:w-1/2 space-y-6">
                {% for organization in organizations %}
                    <li>
                        <a href="{{ organization.get_absolute_url }}">
                            <div class="flex flex-wrap items-center px-4 py-4 sm:px-6 bg-primary-800 hover:bg-primary-400 rounded-lg">
                                <h3 class="text-lg leading-6 font-bold text-white">
                                    {{ organization.name }}
                                    {% if organization.superorganization %}
                                        {% if organization.superorganization.alternative_name %}
                                            [{{ organization.superorganization.alternative_name }}]
                                        {% else %}
                                            [{{ organization.superorganization.name }}]
                                        {% endif %}
                                    {% endif %}
                                </h3>
                                <span class="ml-auto text-md text-white">
                                    {% if organization.state == "approved" %}
                                        ({% translate "Public" %})
                                    {% else %}
                                        ({% translate "Not yet reviewed" %})
                                    {% endif %}
                                </span>
                            </div>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
