{% load i18n %}
{# Show physicallocation_form action result and trigger update of the location search results #}
<div class="flex flex-col items-center w-full gap-3">
    {% if type == "create" %}
        <h1 class="font-bold text-lg">{% translate 'Successfully created the location!' %}</h1>
        <p>{% translate 'You can find it now in the result list.' %}</p>
    {% elif type == "update" %}
        <h1 class="font-bold text-lg">{% translate 'Successfully updated the location!' %}</h1>
        <p>{% translate 'The new version is now in the result list.' %}</p>
    {% elif type == "delete" %}
        <h1 class="font-bold text-lg">{% translate 'Successfully deleted the location!' %}</h1>
        <p>{% translate 'It is now removed from the result list.' %}</p>
    {% endif %}
    <form method="dialog">
        <button class="btn btn-wide btn-primary"
                x-data
                @keydown.escape.window="$dispatch('update')"
                @click="$dispatch('update')">OK</button>
    </form>
</div>
