<form class="flex flex-col gap-2"
      method="dialog"
      hx-target="this"
      hx-swap="outerHTML"
      id="physicallocation_form">
    {% csrf_token %}
    {% comment %} General {% endcomment %}
    <fieldset class="flex flex-row flex-wrap gap-2 border-2 border-gray-400 p-2">
        <legend class="font-bold px-2">General</legend>
        {% include "partials/text_field.html" with field=form.name width="w-full" %}
        {% include "partials/text_field.html" with field=form.street_address width="w-full" %}
        {% include "partials/text_field.html" with field=form.postal_code width="w-1/3" %}
        {% include "partials/text_field.html" with field=form.address_region width="w-1/3" %}
    </fieldset>
    {% comment %} Wheelchair accessibility {% endcomment %}
    <fieldset class="flex flex-col md:flex-row flex-wrap gap-2 border-2 border-gray-400 p-2">
        <legend class="font-bold px-2">Wheelchair accessibility</legend>
        {% include "partials/text_field.html" with field=form.wheelchair_accessible_description width="md:w-1/2" %}
        <fieldset class="md:w-1/3 flex flex-col gap-2 justify-center">
            {% include "partials/checkbox_field.html" with field=form.wheelchair_accessible %}
            {% include "partials/checkbox_field.html" with field=form.wheelchair_accessible_toilet %}
        </fieldset>
    </fieldset>
    {% comment %} Support for blind people {% endcomment %}
    <fieldset class="flex flex-col md:flex-row flex-wrap gap-2 border-2 border-gray-400 p-2">
        <legend class="font-bold px-2">Support for blind people</legend>
        {% include "partials/text_field.html" with field=form.blind_description width="md:w-1/2" %}
        <fieldset class="md:w-1/3 flex flex-col gap-2 justify-center">
            {% include "partials/checkbox_field.html" with field=form.tactile_writing %}
            {% include "partials/checkbox_field.html" with field=form.tactile_paving %}
        </fieldset>
    </fieldset>
    {% comment %} Geo data {% endcomment %}
    <fieldset x-data="{}"
              class="flex flex-row flex-wrap gap-2 border-2 border-gray-400 p-2">
        <legend class="font-bold px-2">Geo data</legend>
        <div class="w-1/2 flex-grow min-h-[11rem]"
            {# djlint:off #}
             x-data="{
                        map: null,
                        initMap: function() {
                            this.map = L.map(this.$el);
                            L.tileLayer(
                                'https://tile.openstreetmap.org/{z}/{x}/{y}.png',
                                { maxZoom: 19, attribution: `&copy; <a href='https://openstreetmap.org/copyright'>OpenStreetMap</a>` }
                                ).addTo(this.map);
                            lat = $refs.lat.value;
                            lng = $refs.lng.value;
                            coordinates = [lat,lng];
                            marker = L.marker(coordinates);
                            marker.addTo(this.map);
                            this.map.attributionControl.setPrefix('');
                            this.map.setView(coordinates, 16);
                        }
                    }"
            {# djlint:on #}
            x-init="initMap"></div>
        <fieldset class="w-1/3 flex-grow">
            {% comment %}
            The widget of this form element provides the following alpine references:
            - x-ref="lng" (Number input for longitude)
            - x-ref="lat" (Number input for latitude)
            {% endcomment %}
            {{ form.coordinates }}
            {% if form.osm_id.value %}
                {% include "partials/checkbox_field.html" with field=form.osm_id %}
                {% include "partials/checkbox_field.html" with field=form.osm_type %}
                <p class="text-sm">
                    (<a class="underline"
   href="https://www.openstreetmap.org/{{ form.osm_type.value }}/{{ form.osm_id.value }}">See on osm.org</a>)
                </p>
            {% else %}
                <p class="text-sm">This is a custom location that is not related to an object in the openstreetmap.</p>
            {% endif %}
        </fieldset>
    </fieldset>
    <div class="flex flex-row justify-around gap-3" x-data>
        <button class="btn 2xl:btn-wide btn-neutral">Abort</button>
        {% if object %}
            <button hx-post="{{ request_path }}"
                    @click="$dispatch('locationupdate')"
                    class="btn 2xl:btn-wide btn-primary">Update</button>
            <button hx-post="{{ request_path }}delete/"
                    @click="$dispatch('locationdelete', { id: {{ object.id }} })"
                    class="btn 2xl:btn-wide btn-secondary">Delete</button>
        {% else %}
            <button hx-post="/locations/add/"
                    @click="$dispatch('locationcreate')"
                    class="btn 2xl:btn-wide btn-primary">Create</button>
        {% endif %}
    </div>
</form>
