{% load i18n %}
{% comment %}
List location search results. The following alpine functions are available in the context and used by this template:
- x-ref="location_modal_container" (modal dialog element)
- x-id="['location_modal'] (unique id)
{% endcomment %}
<div class="overflow-auto max-h-64 flex flex-col divide-y divide-dotted divide-primary-800">
    {% comment %}
    Template to list the search results from the database. Each row has an edit buton to open
    the location in the form. And a select button to add this location to the alpine selection array
    of the parent element.
    {% endcomment %}
    {% for result in resultsDB %}
        <div class="flex flex-row gap-2 items-center py-1 px-2"
             data-dbid="{{ result.db_id }}"
             data-display_name="{{ result.display_name }}"
             x-show="!locations[$id('search')].some(obj => obj.db_id === $el.dataset.dbid)">
            {% if user.is_staff %}
                <button class="btn btn-sm btn-secondary"
                        hx-get="/locations/{{ result.db_id }}"
                        :hx-target="'#'+$id('location_modal')"
                        @click="$refs.location_modal_container.showModal()"
                        x-init="htmx.process($el)">{% translate "edit" %}</button>
            {% endif %}
            <button name="select"
                    class="btn btn-sm btn-secondary"
                    @click.prevent="locations[$id('search')].push({ 'db_id' : $el.parentElement.dataset.dbid, 'display_name' : $el.parentElement.dataset.display_name })">
                {% translate "select" %}
            </button>
            <p>{{ result.display_name }}</p>
            {% comment %}
            <span class="italic pl-2">(Database location)</span>
            {% endcomment %}
        </div>
    {% endfor %}
    {% comment %}
    Template to list the search results from the osm. Rows representing a location have a load
    button to load the data into a create form. Rows representing an address have a create button,
    to open the create form for this address.
    {% endcomment %}
    {% for result in resultsPoiOSM %}
        <div class="flex flex-row gap-2 items-center py-1 px-2">
            {{ result|json_script }}
            <button class="btn btn-sm btn-primary"
                    hx-get="/locations/add/"
                    :hx-target="'#'+$id('location_modal')"
                    hx-vals='js:{"data" : JSON.parse(event.srcElement.previousElementSibling.textContent)}'
                    @click="$refs.location_modal_container.showModal()"
                    x-init="htmx.process($el)">{% translate "load" %}</button>
            <p>{{ result.display_name }}</p>
            {% comment %}
            <span class="italic pl-2">(OSM location)</span>
            {% endcomment %}
        </div>
    {% endfor %}
    {% for result in resultsAddressOSM %}
        <div class="flex flex-row gap-2 items-center py-1 px-2">
            {{ result|json_script }}
            <button class="btn btn-sm btn-primary"
                    hx-get="/locations/add/"
                    :hx-target="'#'+$id('location_modal')"
                    hx-vals='js:{"data" : JSON.parse(event.srcElement.previousElementSibling.textContent)}'
                    @click="$refs.location_modal_container.showModal()"
                    x-init="htmx.process($el)">{% translate "create" %}</button>
            <p>{{ result.display_name }}</p>
            {% comment %}
            <span class="italic pl-2">(OSM address)</span>
            {% endcomment %}
        </div>
    {% endfor %}
</div>
