<svg aria-hidden="true"
     role="presentation"
     viewBox="0 0 24 24"
     fill="none"
     xmlns="http://www.w3.org/2000/svg"
     class="{{ style }}">
    <path fill-rule="evenodd" clip-rule="evenodd" d="M6 6h12v2H6V6zm0 5h10v2H6v-2zm0 5h12v2H6v-2z" fill="currentColor">
    </path>
</svg>
