<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<svg width="40.737999"
     height="40.737999"
     viewBox="0 0 40.737999 40.737999"
     fill="none"
     stroke="currentColor"
     stroke-width="2"
     stroke-linecap="round"
     stroke-linejoin="round"
     class="feather feather-users"
     version="1.1"
     id="svg3"
     xml:space="preserve"
     xmlns="http://www.w3.org/2000/svg"
     xmlns:svg="http://www.w3.org/2000/svg">
    <defs id="defs3" />
    <g id="g5" transform="matrix(1.6653272,0,0,1.6653272,1.1018123,-0.01131277)">
    <circle style="fill:#3450d1;fill-opacity:1;stroke:none;stroke-width:9.11845;stroke-linecap:round;stroke-linejoin:round" id="path4" cx="11.569611" cy="12.238023" r="12.231349" />
    <g id="g4" style="stroke:#ffffff">
    <path d="M 13.478865,18.040418 V 16.629846 A 2.7698864,2.8211435 0 0 0 10.708978,13.808702 H 5.1692058 a 2.7698864,2.8211435 0 0 0 -2.7698864,2.821144 v 1.410572" id="path1" style="stroke:#ffffff;stroke-width:1.3977" />
    <ellipse cx="7.9390922" cy="8.1664152" id="circle1" rx="2.7698865" ry="2.8211436" style="stroke:#ffffff;stroke-width:1.3977" />
    <path d="M 17.633694,18.040418 V 16.629846 A 2.7698864,2.8211435 0 0 0 15.556279,13.900389" id="path2" style="stroke:#ffffff;stroke-width:1.3977" />
    <path d="m 12.786393,5.436959 a 2.7698864,2.8211435 0 0 1 0,5.465965" id="path3" style="stroke:#ffffff;stroke-width:1.3977" />
    <line x1="20.277105" y1="8.8717012" x2="20.277105" y2="13.103416" id="line1" style="fill:none;stroke:#ffffff;stroke-width:1.3977;stroke-linecap:round;stroke-linejoin:round" /><line x1="22.354519" y1="10.987558" x2="18.19969" y2="10.987558" id="line2" style="fill:none;stroke:#ffffff;stroke-width:1.3977;stroke-linecap:round;stroke-linejoin:round" />
    </g>
    </g>
</svg>
