{% extends "base.html" %}
{% load i18n %}
{% load markdownify %}
{% block content %}
    <h1 class="font-bold text-2xl my-4">{{ flatpage.title_translated }}</h1>
    {% if flatpage %}<div class="prose mb-4 max-w-full">{{ flatpage.content_translated | markdownify }}</div>{% endif %}
    {% for filter in list %}
        <hr>
        <div class="mb-2 mt-2">
            <h2 class="font-bold" id="{{ filter.id }}">{{ filter.name }}</h2>
            {% if filter.parent %}
                <p class="italic">
                    {% blocktrans with super_service=filter.parent%}
                        (Part of {{ super_service }})
                    {% endblocktrans %}
                </p>
            {% endif %}
            <div class="prose mb-4 max-w-full">
                {% if filter.description %}
                    {{ filter.description | markdownify }}
                {% else %}
                    {% translate "No description available yet. Coming soon." %}
                {% endif %}
            </div>
        </div>
    {% endfor %}
{% endblock content %}
