{% extends "base.html" %}
{% load i18n parler_tags compress %}
{% block extra_head %}
    {% include 'map_bundle.html' %}
    {% compress js %}
        <script>
            // Used in advanced select widget to focus on the input
            function waitForElm(selector) {
                return new Promise(resolve => {
                    if (document.querySelector(selector)) {
                        return resolve(document.querySelector(selector));
                    }

                    const observer = new MutationObserver(mutations => {
                        if (document.querySelector(selector)) {
                            observer.disconnect();
                            resolve(document.querySelector(selector));
                        }
                    });

                    observer.observe(document.body, {
                        childList: true,
                        subtree: true
                    });
                });
            }

            // Used in modal dialog to control the filter count indicator
            function updateIndicator(input, indicator) {
                let length = input.selectedOptions.length
                indicator.textContent = length;
                if (length > 0) {
                    indicator.classList.remove("hidden")
                } else {
                    indicator.classList.add("hidden")
                }
            }

            function initializeIndicator(input, indicator) {
                input.addEventListener('change', () => {
                    updateIndicator(input, indicator)
                });
                updateIndicator(input, indicator)
            }
        </script>
    {% endcompress %}
{% endblock %}
{% block content %}
    <form id="radarini-filter"
          hx-get="./"
          hx-trigger="change.hs.select, input delay:500ms"
          hx-push-url="true"
          hx-target="#results-data"
          hx-history="false"
          hx-indicator="#results-container"
          class="flex flex-wrap gap-2">
        {% for field in filter.form %}
            {% if forloop.first %}
                <div class="grow">{{ field }}</div>
                {% include "partials/button_group-view_toggle.html" %}
                <div class="flex gap-2 items-center overflow-x-auto">
                {% endif %}
                {% if not forloop.first and not forloop.last %}
                    {% with field.id_for_label as id and field.label as dialog_title and field as dialog_content and field.label as button_text %}
                        {% include "partials/modal-button.html" %}
                        {% include "partials/modal-dialog.html" %}
                        <script>
                            initializeIndicator(
                                document.getElementById('{{id}}'),
                                document.getElementById('{{id}}-button-indicator')
                            )
                        </script>
                    {% endwith %}
                {% endif %}
                {% if forloop.last %}</div>{% endif %}
        {% endfor %}
    </form>
    <div id="results-container" class="w-full mt-2">{% include container_template %}</div>
{% endblock content %}
