{% load i18n %}
<div class="flex flex-col w-full sm:gap-2">
    <div class="flex flex-col w-full sm:w-2/3 my-2 sm:my-0 gap-y-2 sm:gap-y-4 self-center"
         id="results-data">
        {% if welcome_text %}
            {% include "organizations/_welcome_entry.html" %}
        {% endif %}
        {% include data_template %}
    </div>
</div>
