{% load i18n %}
<div class="inset-0 h-[74svh] sm:static sm:w-auto sm:h-[80vh] rounded z-0"
     id="map_container"
     data-coordinates="{{ site.settings.default_coordinates }}"
     data-zoom="{{ site.settings.default_zoom }}"
     hx-preserve></div>
<div id="results-data">{% include data_template %}</div>
