{% for org in organizations %}
    <b><a href="{{ org.get_absolute_url }}">{{ org.name }}</a></b>
    <ul class="pl-3 py-2 list-disc">
        {% for service in services %}
            {% if service.organization == org %}
                <li>
                    <a href="{{ org.get_absolute_url }}#service-{{ service.pk }}">{{ service.service_category }}</a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
{% endfor %}
<a class="!text-black whitespace-nowrap"
   href="{{ location.get_geo_link }}">
    {{ location.street_address }}
    <br>
{{ location.postal_code }} {{ location.address_region }}</a>
