{% extends "base.html" %}
{% load i18n %}
{% block content %}
    <div class="mx-auto">
        <h1 class="mt-6 text-center text-3xl font-extrabold text-gray-900">404</h1>
        <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">{% translate 'Page not found!' %}</h2>
    </div>
{% endblock %}
