{% load static i18n parler_tags %}
{% get_current_language_bidi as LANGUAGE_BIDI %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html dir="{% if LANGUAGE_BIDI %}rtl{% else %}ltr{% endif %}"
      lang="{{ LANGUAGE_CODE }}">
    <head>
        {% include "head.html" %}
        {% block extra_head %}{% endblock %}
    </head>
    <body class="bg-base-100 flex flex-col mx-auto w-11/12 min-h-dvh max-w-5xl relative">
        <div x-data
             class="flex flex-col pt-5 gap-2"
             :class="!$store.state != $store.dark || 'dark'">
            {% include "partials/user_prompts.html" %}
            {% include "partials/navbar.html" %}
            <hr class="border-primary-800">
            <div id="main-content">
                {% block content %}
                {% endblock content %}
            </div>
            {% include "partials/footer.html" %}
        </div>
    </body>
</html>
