{% load static i18n tailwind_tags compress parler_tags %}
<title>{{ site.settings|get_translated_field:'title' }}</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="description"
      content="{{ site.settings|get_translated_field:'meta_description' }}">
<meta name="keywords"
      content="{{ site.settings|get_translated_field:'meta_keywords' }}">
<meta name="apple-mobile-web-app-title"
      content="{{ site.settings|get_translated_field:'title' }}">
<meta name="application-name"
      content="{{ site.settings|get_translated_field:'title' }}">
<meta name="htmx-config" content='{"refreshOnHistoryMiss":"true"}' />
{# Microsoft Win 8 Tiles #}
<meta name="msapplication-TileColor" content="#3450d1">
<meta name="msapplication-config"
      content="{% static 'browserconfig.xml' %}">
<meta name="theme-color" content="#3450d1">
{# Open Graph Tags #}
<meta property="og:title"
      content="{{ site.settings|get_translated_field:'title' }}" />
<meta property="og:description"
      content="{{ site.settings|get_translated_field:'meta_description' }}" />
<meta property="og:url" content="{{ host_name }}" />
<meta property="og:image" content="{% static 'images/og-image.png' %}" />
{# Twitter Card #}
<meta name="twitter:title"
      content="{{ site.settings|get_translated_field:'title' }}">
<meta name="twitter:description"
      content="{{ site.settings|get_translated_field:'meta_description' }}">
<meta name="twitter:image" content="{% static 'images/tw-image.png' %}">
<meta name="twitter:card" content="summary_large_image">
{# Favicons #}
<link rel="manifest" href="/site.webmanifest">
<link rel="apple-touch-icon"
      sizes="180x180"
      href="{% static 'images/apple-touch-icon.png' %}">
<link rel="icon"
      type="image/png"
      sizes="32x32"
      href="{% static 'images/favicon-32x32.png' %}">
<link rel="icon"
      type="image/png"
      sizes="16x16"
      href="{% static 'images/favicon-16x16.png' %}">
<link rel="mask-icon"
      href="{% static 'images/safari-pinned-tab.svg' %}"
      color="#3450d1">
<link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">
{# CSS #}
{% compress css %}
    {% tailwind_css %}
{% endcompress %}
{# JS #}
{% compress js %}
    <script src="{% static 'js/htmx.min.js' %}" defer></script>
    <script src="{% static 'js/alpinejs.persist.js' %}" defer></script>
    <script src="{% static 'js/alpinejs.min.js' %}" defer></script>
    <script src="{% static 'js/preline-overlay.js' %}" defer></script>
    <script src="{% static 'js/preline-collapse.js' %}" defer></script>
    <script src="{% static 'js/preline-dropdown.js' %}" defer></script>
    <script src="{% static 'js/preline-select.js' %}" defer></script>
    <script>
        // Needed for alpine $store magic to work
        document.addEventListener('alpine:init', () => {
            Alpine.store()
        })
    </script>
{% endcompress %}
<noscript>
    {% include "partials/noscript.html" %}
</noscript>
