{% load static compress i18n parler_tags %}
{# tags required for map functionality #}
{% compress css %}
    <link rel="stylesheet" href="{% static 'css/leaflet.css' %}">
    <link rel="stylesheet" href="{% static 'css/MarkerCluster.css' %}">
    <link rel="stylesheet" href="{% static 'css/MarkerCluster.Default.css' %}">
{% endcompress %}
<script id="map_style_data"
        data-marker-icon="{% static 'css/images/marker-icon.png' %}"
        data-marker-shadow="{% static 'css/images/marker-shadow.png' %}"
        data-marker-icon-2x="{% static 'css/images/marker-icon-2x.png' %}"></script>
{% compress js %}
    <script src="{% static 'js/leaflet.js' %}" defer></script>
    <script src="{% static 'js/leaflet.markercluster.js' %}" defer></script>
    <script>
        function initMap() {
            const map_container = document.getElementById("map_container");
            if (map_container === null) {
                return
            }
            const coordinates = map_container.dataset.coordinates.split(',').map(Number);
            const zoom = map_container.dataset.zoom;
            this.map = L.map('map_container').setView(coordinates, zoom);
            L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
                maxZoom: 19,
                attribution: `&copy; <a href='https://openstreetmap.org/copyright'>OpenStreetMap</a>`
            }).addTo(this.map);
            this.map.attributionControl.setPrefix('');
            this.map.zoomControl.remove();
            L.control.zoom({
                position: window.innerWidth < 640 ? 'bottomright' : 'topleft'
            }).addTo(this.map);
            this.markerLayers = L.markerClusterGroup();
            // Fixes an issue with leaflet marker icon locations & white noise static file paths
            const mapStyleData = document.getElementById("map_style_data");
            L.Marker.prototype.options.icon = L.icon({
                iconUrl: mapStyleData.dataset.markerIcon,
                shadowUrl: mapStyleData.dataset.markerShadow,
                iconRetinaUrl: mapStyleData.dataset.markerIcon2x,
                iconSize: [25, 41],
                iconAnchor: [12, 41],
                popupAnchor: [1, -34],
                tooltipAnchor: [16, -28],
                shadowSize: [41, 41]
            });
        }

        function clearMap() {
            if (document.getElementById("non_physical_locations_info")) {
                document.getElementById("non_physical_locations_info").remove();
            }
            if (document.getElementById("no_location_textbox")) {
                document.getElementById("no_location_textbox").remove();
            }
            this.map.invalidateSize();
            this.markerLayers.clearLayers();
        }

        function fillMap() {
            let geoJson = JSON.parse(document.getElementById("geojson").textContent);
            if (geoJson['features'].length == 0) {
                addTextbox(
                    "{% translate 'No service with a physical location was found.' %}",
                    "no_location_textbox",
                    window.innerWidth < 640 ? 'bottomleft' : 'topright'
                )
            } else {
                this.geoJSONLayer = L.geoJson(geoJson, {
                    onEachFeature: function(feature, layer) {
                        layer.bindPopup((layer) => {
                            let el = document.createElement('div');
                            const getData = async (url) => {
                                const response = await fetch(url);
                                if (!response.ok) {
                                    throw new Error(`HTTP error! status: ${response.status}`);
                                }
                                el.innerHTML = await response.text();
                            };
                            getData(`/popup/?service_ids=${layer.feature.properties.services}&location_id=${layer.feature.id}`);
                            return el;
                        });
                    }
                });
                this.markerLayers.addLayer(this.geoJSONLayer);
                this.map.fitBounds(this.geoJSONLayer.getBounds());
                this.map.addLayer(this.markerLayers);
            }
            if (geoJson.non_physical_locations) {
                if (geoJson.non_physical_locations === 1) {
                    string = `${geoJson.non_physical_locations} {% translate "matching service doesn't have a physical location." %}`;
                } else {
                    string = `${geoJson.non_physical_locations} {% translate "matching services don't have a physical location." %}`;
                }
                addTextbox(
                    string,
                    "non_physical_locations_info",
                    window.innerWidth < 640 ? 'bottomleft' : 'topright')
            }
        }

        function addTextbox(string, id, position) {
            let textbox = L.Control.extend({
                onAdd: function() {
                    const container = L.DomUtil.create('div');
                    container.className = "bg-base-100 p-1 rounded shadow max-w-40 mx-auto";
                    container.id = id;
                    container.innerHTML = string;
                    return container;
                },
            });
            new textbox({
                position: position
            }).addTo(this.map);
        }

        const checkMap = () => {
            if (document.getElementById("map_container") === null) {
                return;
            }
            if (document.getElementById("map_container").childNodes.length === 0) {
                initMap();
            } else {
                clearMap();
            }
            fillMap();
        }
        document.addEventListener('DOMContentLoaded', checkMap);
        document.addEventListener('htmx:afterSettle', checkMap);
    </script>
{% endcompress %}
