{% load i18n %}
<div class="mt-8 mb-4 py-2 px-4 font-medium p-4 bg-primary-800 text-white rounded">
    {% translate "Account creation is optional. Creating an account allows you to edit your organization. Before publication, the organization entry is checked by the Admins." %}
</div>
<div data-errors="{{ form.errors|force_escape }}"
     x-data="{ open: ($el.dataset.errors) ? true : false}"
     class="w-full flex flex-col gap-4 mt-4">
    <button type="button"
            x-show="!open"
            @click="open = ! open"
            class="bg-secondary-600 text-white p-2 flex flex-row gap-2 items-center">
        <svg xmlns="http://www.w3.org/2000/svg"
             class="h-5 w-5"
             viewBox="0 0 20 20"
             fill="currentColor">
            <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm1-11a1 1 0 10-2 0v2H7a1 1 0 100 2h2v2a1 1 0 102 0v-2h2a1 1 0 100-2h-2V7z" clip-rule="evenodd" />
        </svg>
        <span>{% translate "Add account" %}</span>
    </button>
    <div x-show="open">
        {% if form.errors %}<div class="errors rounded-lg px-2 py-1 mb-2">{{ form.errors }}</div>{% endif %}
        {% if form.errors and not form.fields %}
            <div>
                {% for field in hidden_fields %}{{ field }}{% endfor %}
            </div>
        {% endif %}
        {% for field, errors in fields %}
            <div class="mb-2">
                {% if field.use_fieldset %}
                    <fieldset>
                        {% if field.label %}
                            <label for="{{ field.auto_id }}">
                                {{ field.label }}
                                {% if field.help_text %}<div class="helptext">{{ field.help_text|safe }}</div>{% endif %}
                                {% if errors %}<div class="errors rounded-t-lg px-2 py-1">{{ errors }}</div>{% endif %}
                                {{ field }}
                            </label>
                        {% endif %}
                    {% else %}
                        {% if field.label %}
                            <label for="{{ field.auto_id }}">
                                {{ field.label }}
                                {% if field.help_text %}<div class="helptext">{{ field.help_text|safe }}</div>{% endif %}
                                {% if errors %}<div class="bg-secondary-800 rounded-t-lg text-white px-2 py-1">{{ errors }}</div>{% endif %}
                                {{ field }}
                            </label>
                        {% endif %}
                    {% endif %}
                    {% if field.use_fieldset %}</fieldset>{% endif %}
                {% if forloop.last %}
                    {% for field in hidden_fields %}{{ field }}{% endfor %}
                {% endif %}
            </div>
        {% endfor %}
        {% if not form.fields and not form.errors %}
            {% for field in hidden_fields %}{{ field }}{% endfor %}
        {% endif %}
    </div>
</div>
