{% comment %}
    Component:  button-group
    Docs:       https://preline.co/docs/button-group.html
{% endcomment %}
<div class="flex sm:inline-flex flex-row rounded-lg shadow-sm">
    <button type="button"
            class="py-1.5 px-4 inline-flex items-center gap-x-2 first:rounded-s-lg sm:mt-0 sm:first:ms-0 first:rounded-se-none last:rounded-es-none last:rounded-e-lg text-sm font-medium focus:z-10 border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 focus:outline-none focus:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-900 dark:border-neutral-700 dark:text-white dark:hover:bg-neutral-800 dark:focus:bg-neutral-800"
            hx-push-url="true"
            hx-target="#results-container"
            hx-include="#radarini-filter"
            hx-get="/list/">{% include 'icons/bars-3-center-left.html' with style="size-4" %}</button>
    <button type="button"
            class="py-1.5 px-4 inline-flex items-center gap-x-2 first:rounded-s-lg sm:mt-0 sm:first:ms-0 first:rounded-se-none last:rounded-es-none last:rounded-e-lg text-sm font-medium focus:z-10 border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 focus:outline-none focus:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-900 dark:border-neutral-700 dark:text-white dark:hover:bg-neutral-800 dark:focus:bg-neutral-800"
            hx-push-url="true"
            hx-target="#results-container"
            hx-include="#radarini-filter"
            hx-get="/map/">{% include 'icons/map.html' with style="size-4" %}</button>
</div>
