{% comment %}
    Component:  button-group
    Docs:       https://preline.co/docs/button-group.html
    Input:     [{'text':'foobar','attributes':[{'key':'foo','value':'bar'}]}]
{% endcomment %}
<div class="flex flex-col sm:inline-flex sm:flex-row rounded-lg shadow-sm">
    {% for button in buttons %}
        {# djlint: off #}
        <button type="button"
                class="py-3 px-4 inline-flex items-center gap-x-2 -mt-px -ms-px first:rounded-t-md last:rounded-b-md sm:first:rounded-s-md sm:mt-0 sm:first:ms-0 sm:first:rounded-se-none sm:last:rounded-es-none sm:last:rounded-e-md text-sm font-medium focus:z-10 border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 focus:outline-none focus:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-900 dark:border-neutral-700 dark:text-white dark:hover:bg-neutral-800 dark:focus:bg-neutral-800"
                {% for attribute in button.attributes %}
                    {{ attribute.key }}={{ attribute.value }}
                {% endfor %}>
                {{ button.text }}
        </button>
        {# djlint: on #}
    {% endfor %}
</div>
