<label class="font-medium flex flex-col">
    <div class="flex flex-row">
        {{ field.label }}
        {% if field.field.required %}*{% endif %}
        <div class="filters__heading__i_button p-1 tooltip tooltip-primary"
             data-tip="{{ field.help_text|safe }}">
            <svg xmlns="http://www.w3.org/2000/svg"
                 fill="none"
                 class="h-4 w-4"
                 viewBox="0 0 24 24"
                 stroke-width="1.5"
                 stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" d="M11.25 11.25l.041-.02a.75.75 0 011.063.852l-.708 2.836a.75.75 0 001.063.853l.041-.021M21 12a9 9 0 11-18 0 9 9 0 0118 0zm-9-3.75h.008v.008H12V8.25z" />
            </svg>
        </div>
    </div>
    {{ field }}
</label>
