{% load i18n %}
{% load git_hash %}
{% git_hash as GIT_HASH %}
<footer class="pt-7 mt-auto text-base-content/70">
    <ul class="flex flex-col pb-2 sm:flex-row sm:flex-wrap sm:justify-center sm:items-center">
        <li class="sm:footer-item">
            <a href="https://codeberg.org/radarini/radarini"
               class="underline cursor:pointer pl-1">{% translate "Source code" %}</a>
            {% if GIT_HASH %}
                <a href="https://codeberg.org/radarini/radarini/src/commit/{{ GIT_HASH }}"
                   class="underline cursor:pointer pl-1">({% translate "Version:" %} {{ GIT_HASH }})</a>
            {% endif %}
        </li>
        <li class="sm:footer-item">
            <a href="/privacy-policy/" class="underline cursor:pointer pl-1">{% translate "Privacy Policy" %}</a>
        </li>
        <li class="sm:footer-item">
            <a href="/imprint/" class="underline cursor:pointer pl-1">{% translate "Imprint" %}</a>
        </li>
        <li class="sm:footer-item">
            <a href="/accessibility/" class="underline cursor:pointer pl-1">{% translate "Accessibility" %}</a>
        </li>
        <li class="sm:footer-item">
            <a href="{% url 'accounts:login' %}?next={{ request.path|urlencode }}"
               class="underline cursor:pointer pl-1">{% translate "Login" %}</a>
        </li>
    </ul>
</footer>
