{% load i18n parler_tags %}
{% load customtag %}
{% if form.errors %}
    <div class="bg-secondary-400 text-black p-4 mb-6">
        <h3 class="font-bold text-center">{% translate "Error" %}</h3>
        {% if type == "login" %}<p>Your username and password didn't match. Please try again.</p>{% endif %}
        <ul>
            {% for field in form %}
                {% for error in field.errors %}<li class="my-2">{{ field.label }}: {{ error|escape }}</li>{% endfor %}
            {% endfor %}
        </ul>
    </div>
{% endif %}
<div class="flex flex-col gap-4">
    {% for field in form.visible_fields %}
        <div class="flex flex-col gap-2">
            <label for="{{ field.id_for_label }}" class="block font-medium">
                {{ field.label }}
                {% if field.field.required %}<span>*</span>{% endif %}
            </label>
            {% if help_text != False and field.help_text %}<p class="helptext">{{ field.help_text|safe }}</p>{% endif %}
            {{ field }}
        </div>
    {% endfor %}
    {% for hidden in form.hidden_fields %}{{ hidden }}{% endfor %}
</div>
