{% load i18n %}
<form action="{% url 'set_language' %}" method="post">
    {% csrf_token %}
    <input name="next" type="hidden" value="">
    <select name="language"
            autofocus
            onchange="this.form.submit()"
            id="language_picker"
            role="listbox"
            aria-label="{% trans 'Language selection' %}"
            class="select select-sm font-normal text-base bg-inherit rounded border-0 shadow-none py-0">
        {% get_current_language as LANGUAGE_CODE %}
        {% get_available_languages as LANGUAGES %}
        {% get_language_info_list for LANGUAGES as languages %}
        {% for language in languages %}
            <option value="{{ language.code }}"
                    {% if language.code == LANGUAGE_CODE %}selected{% endif %}>{{ language.name_local }}</option>
        {% endfor %}
    </select>
</form>
