{% comment %}
    Component:  modal (dialog)
    Docs:       https://preline.co/docs/modal.html
    Input:      {'id':'foo', 'dialog_title':'bar', 'dialog_content': 'foobar', dialog_content_include: 'path/to/file.html'}
{% endcomment %}
<div id="{{ id }}-modal"
     class="hs-overlay hidden size-full fixed top-0 start-0 z-[60] overflow-x-hidden overflow-y-auto pointer-events-none"
     role="dialog"
     tabindex="-1"
     aria-labelledby="{{ id }}-modal-label">
    <div class="sm:max-w-lg sm:w-full m-3 sm:mx-auto">
        <div class="flex flex-col bg-white border shadow-sm rounded-xl pointer-events-auto dark:bg-neutral-800 dark:border-neutral-700 dark:shadow-neutral-700/70">
            <div class="flex justify-between items-center py-3 px-4 border-b dark:border-neutral-700">
                <h3 id="{{ id }}-modal-label"
                    class="font-bold text-gray-800 dark:text-white">{{ dialog_title }}</h3>
                <button type="button"
                        class="size-8 inline-flex justify-center items-center gap-x-2 rounded-full border border-transparent bg-gray-100 text-gray-800 hover:bg-gray-200 focus:outline-none focus:bg-gray-200 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-700 dark:hover:bg-neutral-600 dark:text-neutral-400 dark:focus:bg-neutral-600"
                        aria-label="Close"
                        data-hs-overlay="#{{ id }}-modal">
                    <span class="sr-only">Close</span>
                    <svg class="shrink-0 size-4"
                         xmlns="http://www.w3.org/2000/svg"
                         width="24"
                         height="24"
                         viewBox="0 0 24 24"
                         fill="none"
                         stroke="currentColor"
                         stroke-width="2"
                         stroke-linecap="round"
                         stroke-linejoin="round">
                        <path d="M18 6 6 18"></path>
                        <path d="m6 6 12 12"></path>
                    </svg>
                </button>
            </div>
            <div class="p-4">
                {% if dialog_content %}
                    {{ dialog_content }}
                {% elif dialog_content_include %}
                    {% include dialog_content_include %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
