{% comment %}
    Component:  modal (button with indicator)
    Docs:       https://preline.co/docs/modal.html
    Input:     {'id':'foo', 'button_text':'bar'}
{% endcomment %}
<button type="button"
        class="py-1.5 px-3 inline-flex items-center gap-x-2 font-medium rounded-lg border border-transparent bg-blue-600 text-white hover:bg-blue-700 focus:outline-none focus:bg-blue-700 disabled:opacity-50 disabled:pointer-events-none"
        aria-haspopup="dialog"
        aria-expanded="false"
        aria-controls="{{ id }}-modal"
        data-hs-overlay="#{{ id }}-modal">
    {{ button_text }}
    <span id="{{ id }}-button-indicator"
          class="inline-flex items-center py-0.5 px-1.5 rounded-full text-sm font-medium bg-secondary-800"></span>
</button>
