{% load static i18n parler_tags %}
{% with req=request.path v_name=request.resolver_match.view_name %}
    <nav class="w-full flex-row mx-auto sm:flex sm:flex-row sm:items-center sm:justify-between text-xl tracking-wide">
        <div class="flex items-center justify-between">
            <a href="/" class="flex flex-row" aria-label="Brand">
                <span class="w-max inline-flex items-center gap-x-2 text-3xl focus:outline-none focus:opacity-80">
                    <img src="{% static 'images/logo.svg' %}"
                         class="mr-3 xl:h-24 xl:w-12 xl:-left-28 xl:top-5 xl:block xl:absolute"
                         alt="Logo of the {{ site.settings|get_translated_field:'title' }} site."
                         height="96"
                         width="24" />
                    {{ site.settings|get_translated_field:'title'|upper }}
                </span>
            </a>
            <div class="sm:hidden flex flex-row">
                <button type="button"
                        class="hs-collapse-toggle relative size-7 flex justify-center items-center gap-x-2 rounded-lg border border-slate-200 bg-white text-slate-800 shadow-sm hover:bg-slate-50 focus:outline-none focus:bg-slate-50 disabled:opacity-50 disabled:pointer-events-none dark:bg-transparent dark:border-slate-700 dark:text-white dark:hover:bg-white/10 dark:focus:bg-white/10"
                        id="hs-navbar-collapse"
                        aria-expanded="false"
                        aria-controls="hs-navbar"
                        aria-label="Toggle navigation"
                        data-hs-collapse="#hs-navbar">
                    <svg class="hs-collapse-open:hidden shrink-0 size-4"
                         xmlns="http://www.w3.org/2000/svg"
                         width="24"
                         height="24"
                         viewBox="0 0 24 24"
                         fill="none"
                         stroke="currentColor"
                         stroke-width="2"
                         stroke-linecap="round"
                         stroke-linejoin="round">
                        <line x1="3" x2="21" y1="6" y2="6" /><line x1="3" x2="21" y1="12" y2="12" /><line x1="3" x2="21" y1="18" y2="18" />
                    </svg>
                    <svg class="hs-collapse-open:block hidden shrink-0 size-4"
                         xmlns="http://www.w3.org/2000/svg"
                         width="24"
                         height="24"
                         viewBox="0 0 24 24"
                         fill="none"
                         stroke="currentColor"
                         stroke-width="2"
                         stroke-linecap="round"
                         stroke-linejoin="round">
                        <path d="M18 6 6 18" />
                        <path d="m6 6 12 12" />
                    </svg>
                    <span class="sr-only">Toggle navigation</span>
                </button>
            </div>
        </div>
        <div id="hs-navbar"
             class="hidden hs-collapse overflow-hidden transition-all duration-300 basis-full grow sm:block mt-4 sm:mt-0"
             aria-labelledby="hs-navbar-collapse">
            <div class="flex flex-col gap-2 sm:gap-5 sm:flex-row sm:items-center sm:justify-end sm:ps-5">
                <a class="main-menu-link {% if req == '/' %}bg-secondary-800 text-white{% endif %}"
                   href="/"
                   {% if req == '/' or  req == '/list/' or  req == '/map/' %}aria-current="page"{% endif %}>{% translate "Search" %}</a>
                <a class="main-menu-link {% if v_name == 'organizations:submit-organization' %}bg-secondary-800 text-white{% endif %}"
                   href="{% url "organizations:submit-organization" %}"
                   {% if v_name == 'organizations:submit-organization' %}aria-current="page"{% endif %}>{% translate "Propose entry" %}</a>
                <a class="main-menu-link {% if req == '/participate/' %}bg-secondary-800 text-white{% endif %}"
                   href="/participate/"
                   {% if req == '/participate/' %}aria-current="page"{% endif %}>{% translate "Participate" %}</a>
                <a class="main-menu-link {% if req == '/contact/' %}bg-secondary-800 text-white{% endif %}"
                   href="/contact/"
                   {% if req == '/contact/' %}aria-current="page"{% endif %}>{% translate "Contact" %}</a>
                <div class="hs-dropdown [--strategy:static] sm:[--strategy:fixed] [--adaptive:none]">
                    <button id="hs-navbar-dropdown"
                            type="button"
                            class="hs-dropdown-toggle flex items-center w-full font-medium main-menu-link {% if req == '/idea/' or req == '/financing/' or req == '/about/' or req == '/cooperations/' %}bg-secondary-800 text-white{% endif %}"
                            aria-haspopup="menu"
                            aria-expanded="false"
                            aria-label="Mega Menu">
                        {% translate "The project" %}
                        <svg class="hs-dropdown-open:-rotate-180 sm:hs-dropdown-open:rotate-0 duration-300 ms-1 shrink-0 size-4"
                             xmlns="http://www.w3.org/2000/svg"
                             width="24"
                             height="24"
                             viewBox="0 0 24 24"
                             fill="none"
                             stroke="currentColor"
                             stroke-width="2"
                             stroke-linecap="round"
                             stroke-linejoin="round">
                            <path d="m6 9 6 6 6-6" />
                        </svg>
                    </button>
                    <div class="hs-dropdown-menu z-10 transition-[opacity,margin] ease-in-out duration-[150ms] hs-dropdown-open:opacity-100 opacity-0 sm:w-48 sm:shadow-md rounded-lg p-1 space-y-1 before:absolute top-full sm:border before:-top-5 before:start-0 before:w-full before:h-5 hidden bg-base-100 border-primary-800"
                         role="menu"
                         aria-orientation="vertical"
                         aria-labelledby="hs-navbar-dropdown">
                        <a class="flex items-center gap-x-3.5 main-menu-link" href="/idea/">{% translate "Idea" %}</a>
                        <a class="flex items-center gap-x-3.5 main-menu-link" href="/financing/">{% translate "Financing" %}</a>
                        <a class="flex items-center gap-x-3.5 main-menu-link" href="/donate/">{% translate "Donate" %}</a>
                        <a class="flex items-center gap-x-3.5 main-menu-link" href="/about/">{% translate "About Us" %}</a>
                        <a class="flex items-center gap-x-3.5 main-menu-link"
                           href="/cooperations/">{% translate "Cooperations" %}</a>
                    </div>
                </div>
                {% if user.is_authenticated %}
                    <div class="hs-dropdown [--strategy:static] sm:[--strategy:fixed] [--adaptive:none]">
                        <button id="hs-navbar-dropdown"
                                type="button"
                                class="hs-dropdown-toggle flex items-center w-full font-medium main-menu-link  {% if v_name == 'accounts:profile' or v_name == 'organizations:dashboard' or v_name == 'accounts:profile_organizations' or v_name == 'accounts:password_change' %} bg-secondary-800 text-white{% endif %}"
                                aria-haspopup="menu"
                                aria-expanded="false"
                                aria-label="Mega Menu">
                            {% translate "Account" %}
                            <svg class="hs-dropdown-open:-rotate-180 sm:hs-dropdown-open:rotate-0 duration-300 ms-1 shrink-0 size-4"
                                 xmlns="http://www.w3.org/2000/svg"
                                 width="24"
                                 height="24"
                                 viewBox="0 0 24 24"
                                 fill="none"
                                 stroke="currentColor"
                                 stroke-width="2"
                                 stroke-linecap="round"
                                 stroke-linejoin="round">
                                <path d="m6 9 6 6 6-6" />
                            </svg>
                        </button>
                        <div class="hs-dropdown-menu z-10 transition-[opacity,margin] ease-in-out duration-[150ms] hs-dropdown-open:opacity-100 opacity-0 sm:w-48 sm:shadow-md rounded-lg p-1 space-y-1 before:absolute top-full sm:border before:-top-5 before:start-0 before:w-full before:h-5 hidden bg-base-100 border-primary-800"
                             role="menu"
                             aria-orientation="vertical"
                             aria-labelledby="hs-navbar-dropdown">
                            <a class="flex items-center gap-x-3.5 main-menu-link"
                               href="{% url 'accounts:profile' %}">{% translate "My Profile" %}</a>
                            {% if user.is_staff %}
                                <a class="flex items-center gap-x-3.5 main-menu-link"
                                   href="{% url 'organizations:dashboard' %}">{% translate "Organization Dashboard" %}</a>
                            {% endif %}
                            <a class="flex items-center gap-x-3.5 main-menu-link"
                               href="{% url 'accounts:profile_organizations' %}">{% translate "My Organizations" %}</a>
                            <a class="flex items-center gap-x-3.5 main-menu-link"
                               href="{% url 'accounts:password_change' %}">{% translate "Change Password" %}</a>
                            <form method="post"
                                  action="{% url 'accounts:logout' %}"
                                  class="main-menu-link">
                                {% csrf_token %}
                                <button type="submit">{% translate "Logout" %}</button>
                            </form>
                        </div>
                    </div>
                {% endif %}
                <div class="flex flex-row gap-1">
                    {% include "partials/theme_toggle.html" %}
                    {% with "language-picker" as id and "Language picker" as dialog_title and '<div hx-get="/language_picker.html" hx-trigger="load"></div>' as dialog_content %}
                    {% include "partials/modal-button-language_picker.html" %}
                    {% include "partials/modal-dialog.html" %}
                {% endwith %}
            </div>
        </div>
    </div>
</nav>
{% endwith %}
