{% load static i18n parler_tags %}
<style>
    [x-cloak] { display: inherit !important; }
    [hidden-no-js] { display: none !important; }
</style>
<div class="h-48 sm:h-36 md:h-32"></div>
<div class="my-4 py-8 px-4 bg-red-200 rounded-md absolute top-2 z-50">
    <p class="text-red-800 ">
        {% translate "For full functionality of this site it is necessary to enable JavaScript. Here are the " %}<a class="text-black underline"
   href="https://www.enable-javascript.com/">instructions</a> {% translate "how to enable JavaScript in your web browser." %}
    </p>
</div>
