{% load i18n %}
{% if user.is_authenticated %}
    <div class="flex gap-2">
        <div>{% translate 'Hi' %}, {{ user.username }}</div>
        <div>{% include "partials/button_link.html" with label=_("Log out") href="/users/logout" %}</div>
    </div>
{% endif %}
