{% comment %}
    Component:  preline-input-group
    Docs:       https://preline.co/docs/input-group.html#leading-icon
    Notes:      It is the `leading-icon` version with a magnifying glass as icon.
    Widget:     TextInput
{% endcomment %}
<div class="relative">
    <input type="text"
           autofocus
           id="{{ widget.name }}"
           name="{{ widget.name }}"
           class="px-4 py-1.5 ps-11 block !text-base w-full border-gray-200 shadow-sm !rounded-lg focus:z-10 focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-900 dark:border-neutral-700 dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600"
           {% if widget.value != None %}value="{{ widget.value|stringformat:'s' }}"{% endif %}
           {% include "django/forms/widgets/attrs.html" %}>
    <div class="absolute inset-y-0 start-0 flex items-center pointer-events-none z-20 ps-4">
        <svg class="shrink-0 size-4 text-gray-400 dark:text-neutral-500"
             xmlns="http://www.w3.org/2000/svg"
             width="24"
             height="24"
             viewBox="0 0 24 24"
             fill="none"
             stroke="currentColor"
             stroke-width="2"
             stroke-linecap="round"
             stroke-linejoin="round">
            <circle cx="11" cy="11" r="8"></circle>
            <path d="m21 21-4.3-4.3"></path>
        </svg>
    </div>
</div>
