{% comment %}
    Component:  preline-searchbox
    Docs:       https://preline.co/docs/searchbox.html
    Widget:     TextInput
{% endcomment %}
<div class="max-w-sm">
    <!-- SearchBox -->
    {# djlint:off #}
  <div class="relative" data-hs-combo-box='{
    "groupingType": "default",
    "preventSelection": true,
    "isOpenOnFocus": true,
    "groupingTitleTemplate": "<div class=\"block text-xs text-gray-500 m-3 mb-1 dark:text-neutral-500 dark:border-neutral-700\"></div>"
  }'>
    {# djlint:on #}
    <div class="relative">
        <div class="absolute inset-y-0 start-0 flex items-center pointer-events-none z-20 ps-3.5">
            <svg class="shrink-0 size-4 text-gray-400 dark:text-white/60"
                 xmlns="http://www.w3.org/2000/svg"
                 width="24"
                 height="24"
                 viewBox="0 0 24 24"
                 fill="none"
                 stroke="currentColor"
                 stroke-width="2"
                 stroke-linecap="round"
                 stroke-linejoin="round">
                <circle cx="11" cy="11" r="8"></circle>
                <path d="m21 21-4.3-4.3"></path>
            </svg>
        </div>
        <input class="py-3 ps-10 pe-4 block w-full border-gray-200 rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-900 dark:border-neutral-700 dark:text-neutral-400 dark:placeholder-neutral-500 dark:focus:ring-neutral-600"
               id="{{ widget.name }}"
               name="{{ widget.name }}"
               type="text"
               role="combobox"
               aria-expanded="false"
               placeholder="Search or type a command"
               value=""
               data-hs-combo-box-input=""
               {% if widget.value != None %}value="{{ widget.value|stringformat:'s' }}"{% endif %}
               {% include "django/forms/widgets/attrs.html" %}>
    </div>
    <!-- SearchBox Dropdown -->
    <div class="absolute z-50 w-full bg-white rounded-xl shadow-[0_10px_40px_10px_rgba(0,0,0,0.08)] dark:bg-neutral-800"
         style="display: none"
         data-hs-combo-box-output="">
        <div class="max-h-[500px] p-2 overflow-y-auto overflow-hidden [&::-webkit-scrollbar]:w-2 [&::-webkit-scrollbar-thumb]:rounded-full [&::-webkit-scrollbar-track]:bg-gray-100 [&::-webkit-scrollbar-thumb]:bg-gray-300 dark:[&::-webkit-scrollbar-track]:bg-neutral-700 dark:[&::-webkit-scrollbar-thumb]:bg-neutral-500"
             data-hs-combo-box-output-items-wrapper="">
            {% for group_name, group_choices, group_index in widget.optgroups %}
                {% for option in group_choices %}
                    <option value="{{ option.value|stringformat:'s' }}"
                            {% include "django/forms/widgets/attrs.html" with widget=option %}
                            data-hs-select-option='{ "description": "{{ option.description|escapejs }}" }'>
                        {{ option.label }}
                    </option>
                    <div data-hs-combo-box-output-item='{"group": {"name": "people", "title": "People"}}'
                         tabindex="6">
                        <a class="py-2 px-2.5 flex items-center gap-x-3 hover:bg-gray-100 rounded-lg focus:outline-none focus:bg-gray-100 dark:hover:bg-neutral-700 dark:focus:bg-neutral-700"
                           href="/">
                            <img class="shrink-0 size-5 rounded-full"
                                 src="https://images.unsplash.com/photo-1610186593977-82a3e3696e7f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=3&w=320&h=320&q=80"
                                 alt="Avatar">
                            <span class="text-sm text-gray-800 dark:text-neutral-200"
                                  data-hs-combo-box-search-text="{{ option.label }}"
                                  data-hs-combo-box-value="">{{ option.label }}</span>
                        </a>
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
    </div>
    <!-- End SearchBox Dropdown -->
</div>
<!-- End SearchBox -->
</div>
