<div class="{{ width }} flex-grow flex flex-col">
    <label class="block font-medium">
        {{ field.label }}
        {% if field.field.required %}*{% endif %}
        {{ field }}
    </label>
    <p class="helptext">{{ field.help_text|safe }}</p>
    <p class="text-red-600">{{ field.errors }}</p>
</div>
