{% if messages %}
    <div class="max-w-3xl mx-auto my-6">
        <ul class="py-4 px-2 bg-secondary-400 border-secondary-600 font-bold text-center">
            {% for message in messages %}
                <li {% if message.tags %}class="{{ message.tags }}"{% endif %}>{{ message|safe }}</li>
            {% endfor %}
        </ul>
    </div>
{% endif %}
