{% if widget.is_initial %}
    <p>
        <img class="rounded h-20 w-auto" src="{{ widget.value.url }}">
    </p>
    <p>
        {% if not widget.required %}
            <input type="checkbox"
                   name="{{ widget.checkbox_name }}"
                   id="{{ widget.checkbox_id }}"
                   {% if widget.attrs.disabled %}disabled{% endif %}>
            <label for="{{ widget.checkbox_id }}">{{ widget.clear_checkbox_label }}</label>
        {% endif %}
    </p>
    <span>{{ widget.input_text }}:</span>
{% endif %}
<input type="{{ widget.type }}"
       name="{{ widget.name }}"
       {% include "django/forms/widgets/attrs.html" %}>
