{% load mptt_tags %}
{% load i18n %}
<select name="{{ widget.name }}"
        multiple
        class="w-full bg-base-100 border border-gray-500">
    {% recursetree widget.queryset %}
        <option value="{{ node.id|stringformat:'s' }}">{{ node.name }}</option>
        {% if not node.is_leaf_node %}{{ children }}{% endif %}
    {% endrecursetree %}
</select>
<a href="/filters/{{ widget.description_link_name }}"
   target="_blank"
   class="flex">
    <svg xmlns="http://www.w3.org/2000/svg"
         fill="none"
         class="h-4 w-4 mt-1"
         viewBox="0 0 24 24"
         stroke-width="1.5"
         stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" d="M11.25 11.25l.041-.02a.75.75 0 011.063.852l-.708 2.836a.75.75 0 001.063.853l.041-.021M21 12a9 9 0 11-18 0 9 9 0 0118 0zm-9-3.75h.008v.008H12V8.25z" />
    </svg>
    {% translate "Description of the filters." %}
</a>
