{% load mptt_tags tree_select_multiple_tags i18n %}
<ul
    data-filter-type="{{ widget.filter_type }}"
    data-close-label="{% translate 'close' %}"
    data-expand-label="{% translate 'expand' %}"
    {# djlint:off #}
        x-data="{
            filterType: $el.dataset.filterType,
            closeLabel:  $el.dataset.closeLabel,
            expandLabel: $el.dataset.expandLabel,
        }"
    {# djlint:on #}
    >
    {% recursetree widget.queryset %}
        <li data-node-id="{{ node.id }}"
            x-data="{ open: false, nodeId: $el.dataset.nodeId, }"
            x-bind:aria-expanded="open ? 'true' : 'false'"
            class="flex flex-col mr-2">
            <div class="flex flex-row cursor-pointer"
                 {% if not node.is_leaf_node %} @click.self="open = ! open" x-bind:aria-label="open ? closeLabel : expandLabel" {% else %} @click.self="$store.filters.selectItem({type: filterType, id: nodeId })" {% endif %}>
                <button type="button"
                        @click="$store.filters.selectItem({type: filterType, id: nodeId })"
                        class="p-1 widget-button flex flex-row">{{ node.name }}</button>
                {% if widget.description_link_name %}
                    <a href="/filters/{{ widget.description_link_name }}#{{ node.id }}"
                       target="_blank"
                       class="flex items-center widget-button p-1.5 mx-1 my-auto">
                        {% include "icons/information-circle.html" with style="h-4 w-4" %}
                    </a>
                {% endif %}
                {% if not node.is_leaf_node %}
                    <div class="widget-button-parent" @click="open = ! open">
                        <button type="button"
                                class="p-1 ml-auto my-auto widget-button"
                                x-bind:aria-label="open ? closeLabel : expandLabel ">
                            {% include "icons/arrow.html" with direction="up" style="h-5 w-5" function="x-show='open'" %}
                            {% include "icons/arrow.html" with direction="down" style="h-5 w-5" function="x-show='!open'" %}
                        </button>
                    </div>
                {% endif %}
            </div>
            {% if not node.is_leaf_node %}
                <ul x-show="open" class="children flex flex-col pl-2">
                    {{ children }}
                </ul>
            {% endif %}
        </li>
    {% endrecursetree %}
</ul>
