{% load mptt_tags tree_select_multiple_tags i18n %}
<noscript>
    {% include "forms/widgets/select_multiple.html" with widget=widget %}
</noscript>
{{ widget.selected|json_script }}
{{ widget.allItems|json_script }}
<div
    data-closeLabel="{% translate "close" %}"
    data-expandLabel="{% translate "expand" %}"
    {# djlint:off #}
    x-data="{
        allItems: JSON.parse($el.previousElementSibling.textContent),
        selected: JSON.parse($el.previousElementSibling.previousElementSibling.textContent),
        closeLabel: $el.dataset.closeLabel,
        expandLabel: $el.dataset.expandLabel,
        selectAll() {
            for (const item of this.allItems){
                this.selectItem(item)
            }
        },
        selectItem(item) {
            if (this.selected[item.id] === undefined) {
                this.selected[item.id] = item
            } else {
                this.removeItem(item.id)
            }
        },
        removeItem(id) {
            delete this.selected[id]
        }}"
    {# djlint:on #}
    class="tree-select-multiple-widget hidden w-full" :class="{ 'hidden': false }">
    {% if widget.select_all %}
        <div class="flex flex-row my-1 ml-1">
            <button type="button"
                    @click="selectAll()"
                    class="flex flex-row border z-40 text-left cursor-pointer hover:text-primary-800 focus:outline-none focus-visible:outline-dashed focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary-800">
                <svg xmlns="http://www.w3.org/2000/svg"
                     fill="none"
                     viewBox="0 0 24 24"
                     stroke-width="1.5"
                     stroke="currentColor"
                     class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 3.75v4.5m0-4.5h4.5m-4.5 0L9 9M3.75 20.25v-4.5m0 4.5h4.5m-4.5 0L9 15M20.25 3.75h-4.5m4.5 0v4.5m0-4.5L15 9m5.25 11.25h-4.5m4.5 0v-4.5m0 4.5L15 15" />
                </svg>
                {% translate "Select All" %}
            </button>
        </div>
    {% endif %}
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <ul class="overflow-auto bg-base-100 border border-[#d1d5db] max-h-80 divide-y">
            {% recursetree widget.queryset %}
                <li data-node-name="{{ node.name }}"
                    data-node-id="{{ node.id }}"
                    {# djlint:off #}
                    x-data="{
                        nodeName: $el.dataset.nodeName,
                        nodeId: $el.dataset.nodeId,
                        open: false
                    }"
                    {# djlint:on #}
                    x-bind:aria-expanded="open ? 'true' : 'false'"
                    class="flex flex-col pl-1">
                    <div class="flex flex-row cursor-pointer"
                        {# djlint:off #}
                    {% if not node.is_leaf_node %}
                        @click.self="open = ! open"
                        x-bind:aria-label="open ? closeLabel : expandLabel"
                    {% else %}
                        @click.self="selectItem({label: nodeName, id: nodeId})"
                        :class="'hover:text-primary-800'"
                    {% endif %}
                        {# djlint:on #}>
                        <button type="button"
                                @click="selectItem({label: nodeName, id: nodeId})"
                                class="py-1 z-10 text-left cursor-pointer hover:text-primary-800 focus:outline-none focus-visible:outline-dashed focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary-800">
                            {{ node.name }}
                        </button>
                        {% if widget.description_link_name %}
                            <a href="/filters/{{ widget.description_link_name }}#{{ node.id }}"
                               target="_blank"
                               class="flex items-center mx-1 p-1">
                                <svg xmlns="http://www.w3.org/2000/svg"
                                     fill="none"
                                     class="h-4 w-4 ml-1"
                                     viewBox="0 0 24 24"
                                     stroke-width="1.5"
                                     stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M11.25 11.25l.041-.02a.75.75 0 011.063.852l-.708 2.836a.75.75 0 001.063.853l.041-.021M21 12a9 9 0 11-18 0 9 9 0 0118 0zm-9-3.75h.008v.008H12V8.25z" />
                                </svg>
                            </a>
                        {% endif %}
                        {% if not node.is_leaf_node %}
                            <button type="button"
                                    class="ml-auto p-1 mx-1 focus:outline-none focus-visible:outline-dashed focus-visible:outline-2 focus-visible:outline-primary-800 text-left"
                                    @click="open = ! open"
                                    x-bind:aria-label="open ? closeLabel : expandLabel">
                                {% include "icons/arrow.html" with direction="down" style="h-5 w-5" function="x-show='open'" %}
                                {% include "icons/arrow.html" with direction="forward" style="h-5 w-5" function="x-show='!open'" %}
                            </button>
                        {% endif %}
                    </div>
                    {% if not node.is_leaf_node %}
                        <ul x-show="open" class="children flex flex-col pl-2">
                            {{ children }}
                        </ul>
                    {% endif %}
                </li>
            {% endrecursetree widget.queryset %}
        </ul>
        <div class="max-h-80 overflow-auto">
            <div class="flex flex-row flex-wrap gap-2 mt-2 mb-3 overflow-y">
                <template x-for="el in Object.values(selected)" :key="el.id">
                    <div id="nodeButton"
                         class="bg-primary-800 text-white rounded-lg py-1 px-2 mr-2 flex flex-row">
                        <input type="checkbox"
                               name="{{ widget.name }}"
                               x-bind:value="el.id"
                               class="hidden"
                               checked />
                        <span x-text="el.label"></span>
                        <button type="button"
                                @click="removeItem(el.id)"
                                class="ml-1 text-left focus:outline-none focus-visible:outline-dashed focus-visible:outline-2 focus-visible:outline-white"
                                aria-label="{% translate "remove" %}">
                            <svg xmlns="http://www.w3.org/2000/svg"
                                 class="h-5 w-5"
                                 viewBox="0 0 20 20"
                                 fill="currentColor">
                                <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd" />
                            </svg>
                        </button>
                    </div>
                </template>
            </div>
        </div>
    </div>
</div>
