{% load i18n %}
<div id="form-container" class="flex flex-col gap-4">
    {{ formset.management_form }}
    {% for form in formset.initial_forms %}
        <div class="contact_form">
            {% include "organizations/partials/_contact_form.html" with form=form formset=formset extra=False %}
        </div>
    {% endfor %}
    {% for form in formset.extra_forms %}
        {% if formset.extra_forms|length > 4 and forloop.counter > 4 %}
            <div class="contact_form">
                {% include "organizations/partials/_contact_form.html" with form=form formset=formset extra=True %}
            </div>
        {% endif %}
    {% endfor %}
    <div id="add-form"></div>
    {% for form in formset.extra_forms %}
        {% if forloop.counter <= 4 %}
            <div class="contact_form template_{{ form.instance.classname }} hidden">
                {% include "organizations/partials/_contact_form.html" with form=form formset=formset extra=True %}
            </div>
        {% endif %}
    {% endfor %}
    <button type="button"
            @click.prevent="addForm('template_EmailContact')"
            class="bg-secondary-600 text-white p-2 flex flex-row gap-2 items-center">
        <svg xmlns="http://www.w3.org/2000/svg"
             class="h-5 w-5"
             viewBox="0 0 20 20"
             fill="currentColor">
            <path fill-rule="evenodd" d="M14.243 5.757a6 6 0 10-.986 9.284 1 1 0 111.087 1.678A8 8 0 1118 10a3 3 0 01-4.8 2.401A4 4 0 1114 10a1 1 0 102 0c0-1.537-.586-3.07-1.757-4.243zM12 10a2 2 0 10-4 0 2 2 0 004 0z" clip-rule="evenodd" alt="{% translate 'Email' %}" />
        </svg>
        <span>{% translate 'Add email' %}</span>
    </button>
    <button type="button"
            @click.prevent="addForm('template_PhoneContact')"
            class="bg-secondary-600 text-white p-2 flex flex-row gap-2 items-center">
        <svg xmlns="http://www.w3.org/2000/svg"
             class="h-5 w-5"
             viewBox="0 0 20 20"
             fill="currentColor">
            <path d="M2 3a1 1 0 011-1h2.153a1 1 0 01.986.836l.74 4.435a1 1 0 01-.54 1.06l-1.548.773a11.037 11.037 0 006.105 6.105l.774-1.548a1 1 0 011.059-.54l4.435.74a1 1 0 01.836.986V17a1 1 0 01-1 1h-2C7.82 18 2 12.18 2 5V3z" alt="{% translate 'Telephone' %}" />
        </svg>
        <span>{% translate 'Add telephone' %}</span>
    </button>
    <button type="button"
            @click.prevent="addForm('template_WebsiteContact')"
            class="bg-secondary-600 text-white p-2 flex flex-row gap-2 items-center">
        <svg xmlns="http://www.w3.org/2000/svg"
             class="h-5 w-5"
             viewBox="0 0 20 20"
             fill="currentColor">
            <path fill-rule="evenodd" d="M4.083 9h1.946c.089-1.546.383-2.97.837-4.118A6.004 6.004 0 004.083 9zM10 2a8 8 0 100 16 8 8 0 000-16zm0 2c-.076 0-.232.032-.465.262-.238.234-.497.623-.737 1.182-.389.907-.673 2.142-.766 3.556h3.936c-.093-1.414-.377-2.649-.766-3.556-.24-.56-.5-.948-.737-1.182C10.232 4.032 10.076 4 10 4zm3.971 5c-.089-1.546-.383-2.97-.837-4.118A6.004 6.004 0 0115.917 9h-1.946zm-2.003 2H8.032c.093 1.414.377 2.649.766 3.556.24.56.5.948.737 1.182.233.23.389.262.465.262.076 0 .232-.032.465-.262.238-.234.498-.623.737-1.182.389-.907.673-2.142.766-3.556zm1.166 4.118c.454-1.147.748-2.572.837-4.118h1.946a6.004 6.004 0 01-2.783 4.118zm-6.268 0C6.412 13.97 6.118 12.546 6.03 11H4.083a6.004 6.004 0 002.783 4.118z" clip-rule="evenodd" alt="{% translate 'Website' %}" />
        </svg>
        <span>{% translate 'Add website or social media' %}</span>
    </button>
</div>
<script id="contacts_formset_script" data-formset-prefix="{{ formset.prefix }}">
    let addForm = (template_class) => {
        const me = document.querySelector("#contacts_formset_script");
        let formsetPrefix = me.dataset.formsetPrefix;
        let addForm = document.querySelector('#add-form');
        let formContainer = document.querySelector('#form-container');
        let forms = document.querySelectorAll('.contact_form');
        let totalForms = document.querySelector(`#id_${formsetPrefix}-TOTAL_FORMS`);
        let formNum = forms.length - 1;
        let templateForm = document.querySelector('.' + template_class);
        let newForm = templateForm.cloneNode(true);
        let formRegex = RegExp(`${formsetPrefix}-(\\d+)-`, 'g');

        formNum++;
        newForm.innerHTML = newForm.innerHTML.replace(formRegex, `${formsetPrefix}-${formNum}-`);
        newForm.querySelectorAll('select').forEach(el => el.value = '');
        newForm.querySelectorAll('input[type=\'checkbox\']').forEach(el => el.checked = false);
        newForm.classList.remove('hidden');
        newForm.classList.remove(template_class);
        formContainer.insertBefore(newForm, addForm);
        totalForms.setAttribute('value', `${formNum + 1}`);
    }
</script>
