{% load i18n %}
<script id="formset_script" data-formset-prefix="{{ formset.prefix }}" data-new-service-heading="{% translate 'New service' %}">
    // addForm copys the hidden template form, updates the formset prefix and adds it to the form container.
    let addForm = () => {
        const me = document.querySelector("#formset_script");
        let formsetPrefix = me.dataset.formsetPrefix;
        let newServiceHeading = me.dataset.newServiceHeading;
        let addForm = document.querySelector('#add-form');
        let formContainer = document.querySelector('#form-container');
        let forms = document.querySelectorAll('.service_form');
        let totalForms = document.querySelector(`#id_${formsetPrefix}-TOTAL_FORMS`);
        let formNum = forms.length - 1;
        let templateForm = document.querySelector('.template_service_form');
        let newForm = templateForm.cloneNode(true);
        let formRegex = RegExp(`${formsetPrefix}-(\\d+)-`, 'g');

        formNum++;
        newForm.innerHTML = newForm.innerHTML.replace(formRegex, `${formsetPrefix}-${formNum}-`);
        newForm.querySelectorAll('select').forEach(el => el.value = '');
        newForm.querySelectorAll('textarea').forEach(el => el.innerHTML = '');
        newForm.querySelectorAll('input[type=\'checkbox\']').forEach(el => el.checked = false);
        newForm.querySelector(`#id_${formsetPrefix}-${formNum}-id`).value = '';
        newForm.querySelectorAll('#nodeButton').forEach(el => el.remove());
        newForm.querySelector('#service_heading').innerHTML = `${newServiceHeading}`;
        newForm.querySelector('#service_container').setAttribute('x-data', '{ open: true }');
        newForm.classList.remove('hidden');
        newForm.classList.remove('template_service_form');

        formContainer.insertBefore(newForm, addForm);
        totalForms.setAttribute('value', `${formNum+1}`);

        htmx.process(newForm);
    }
    // checkOpen is used to determine whether the current url contains an anchor that matches the instanceId.
    // used in _service_form_fields.html
    let checkOpen = (isExtra, instanceId) => {
        if (isExtra == 'True')
            return true;
        let objectAnchor = `service-${instanceId}`
        let currentUrl = document.URL;
        let urlParts = currentUrl.split('#');
        let anchor = (urlParts.length > 1) ? urlParts[1] : null;
        return (objectAnchor == anchor) ? true : false;
    }
    // decrementString takes a string, reads the last char as number and decrements it.
    // used in _service_form_fields.html
    let decrementString = (text) => {
        return text.replace(/(\d*)$/, (_, t) => (+t - 1).toString().padStart(t.length, 0));
    }
</script>
{# locations holds the selected locations for each service, it is used in _service_form_fields.html #}
<div x-data="{locations: {}}"
     id="form-container"
     class="mt-6 w-full flex flex-col gap-4">
    {{ formset.management_form }}
    {% for form in formset.initial_forms %}
        <div class="service_form">
            {% include "organizations/partials/_service_form_fields.html" with form=form formset=formset extra=False %}
        </div>
    {% endfor %}
    {% for form in formset.extra_forms %}
        <div class="service_form {% if forloop.counter <= 1 %}template_service_form hidden{% endif %}">
            {% include "organizations/partials/_service_form_fields.html" with form=form formset=formset extra=True %}
        </div>
    {% endfor %}
    <div id="add-form"></div>
    <button type="button"
            @click.prevent="addForm()"
            class="bg-secondary-600 text-white p-2 flex flex-row gap-2 items-center">
        <svg xmlns="http://www.w3.org/2000/svg"
             class="h-5 w-5"
             viewBox="0 0 20 20"
             fill="currentColor">
            <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm1-11a1 1 0 10-2 0v2H7a1 1 0 100 2h2v2a1 1 0 102 0v-2h2a1 1 0 100-2h-2V7z" clip-rule="evenodd" />
        </svg>
        <span>{% translate "Add service" %}</span>
    </button>
</div>
