@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* This won't be included in the compiled CSS unless actually used
     See https://tailwindcss.com/docs/adding-custom-styles#removing-unused-custom-css */

  .markdown > pre{
    @apply bg-base-200 rounded-none text-inherit;
  }

  .selection-checkbox > input + label {
    @apply select-none border-primary-800 hover:cursor-pointer hover:bg-primary-800 hover:text-white;
  }

  .selection-checkbox > input:checked + label {
    @apply bg-primary-800 text-white;
  }

  .selection-checkbox > input {
    @apply hidden;
  }

  .selection-checkbox > input:focus + label,
  .filters__accessible input:focus + label {
    @apply outline-none;
  }

  .selection-checkbox > input:focus-visible + label,
  .filters__accessible input:focus-visible + label {
    @apply outline-dashed outline-2 outline-offset-2 outline-primary-800 hover:bg-base-100 hover:border-primary-800 hover:text-white hover:cursor-pointer;
  }

  [x-cloak] {
    display: none !important;
  }

  input[type=text], input[type=number], input[type=date], input[type=email], input[type=password], input[type=search], textarea, select {
    @apply shadow-sm block w-full sm:text-sm rounded
      focus:ring-primary-800 focus:border-primary-800
      hover:border-primary-800
      active:border-primary-800
      border-neutral-content bg-base-100;
  }

  #sortbox:checked~#sortboxmenu {
    opacity: 1;
    left: 50%;
    transform: translate(-50%, 0);
  }

  #sortboxprofile:checked~#sortboxprofilemenu {
    opacity: 1;
  }

  .vertical-line:after {
    width: 1px;
    background-color: #81F781;
    margin-left: 0px;
    margin-top: -100px;
    position: absolute;
    border-radius: 2px;
  }


  .footer-item:not(:last-child)::after {
    content: "•";
    padding-right: 0.3em;
    padding-left: 0.3em;
  }

  .tooltip:before {
    max-width: 11rem;
  }

  .welcome-entry > p {
    @apply px-6 py-2;
  }

  .welcome-entry > p > a {
    @apply underline;
  }

  .widget-button {
    @apply
      rounded-lg text-left cursor-pointer
      hover:bg-primary-800 hover:text-white
      focus:outline-none focus-visible:outline-dashed focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary-800;
  }

  .filters__heading {
    @apply text-lg sm:text-2xl flex flex-row items-center cursor-pointer;
  }

  .filters__heading__text:hover ~ div > button {
    @apply bg-primary-800 text-white;
  }

  .widget-button-parent:hover > button {
    @apply bg-primary-800 text-white;
  }

  .widget-button-parent {
    @apply flex flex-row flex-grow;
  }

  .main-menu-link {
    @apply p-1 rounded block active:text-slate-50 active:bg-secondary-800 hover:text-slate-50 hover:bg-secondary-800 focus:text-slate-50 focus:bg-secondary-800;
  }

  .main-menu-item {
    @apply w-full flex flex-col py-4 sm:w-auto sm:py-0;
  }

  .opt-submit-checkbox {
    @apply cursor-pointer mr-2 mt-1 float-left;
  }

  .helptext {
    @apply italic text-base-content/70;
  }

  .errors {
    @apply bg-secondary-800 text-white;
  }

  .preview-container {
    @apply text-xl rounded-lg p-3 border-secondary-200 border;
    background: repeating-linear-gradient(
      45deg,
      transparent,
      transparent 10px,
      rgb(217 135 225 / 0.2) 10px,
      rgb(217 135 225 / 0.1) 20px
    );
  }

  .view-selection > input:checked + label {
    @apply bg-base-100;
  }

  .filter-checkbox-label {
    @apply py-1 px-2 border-2 rounded-lg;
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
  }
}

.leaflet-tile-pane {
  -webkit-filter: saturate(50%);
  filter: saturate(50%);
}

div .marker-cluster-small, div .marker-cluster-small div  {
  background-color: #e390ef7e;
}

div .marker-cluster-medium, div .marker-cluster-medium div {
  background-color: #cd37e17e;
}

div .marker-cluster-large, div .marker-cluster-large div {
  background-color: #64106f7e;
  color: #fff;
}

.leaflet-popup-content { @apply min-w-36 }

.htmx-request {
  @apply blur-sm;
}
